Authlib<2.0.0
bleach<5
boto3
click
Flask<3
Flask-Caching
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy<=3.0.1
Flask-WTF
google-api-python-client
humanize
loginpass
Markdown
netaddr
passlib
psycopg2
pyasn1
pyasn1-modules
PyMySQL
python-dateutil
python-editor
python-redis-lock
pytz
redis
requests
sentry-sdk[flask]
sqlalchemy<2
SQLAlchemy-Utils
stripe<=1.79.1
Unidecode
feedwerk
