{% extends "base.html" %}
{% block title %}Donate Online - {{ super() }}{% endblock %}
{% block content %}

<section>
    <header>
        <h2>Donate Online</h2>
    </header>

    <form action="{{ url_for('donate.process') }}" method="post"
            id="donate_form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="stripe_token" id="id_stripe_token" value="" />

        <label>
            Your Name
            <input type="text" name="name" id="id_name" value="" />
        </label>

        <label>
            Pledge Amount
            <input type="text" name="amount" id="id_amount" value=""
                placeholder="20.00" required="required" />
        </label>

        <label>
            Is this a one-time or monthly donation?
            <select name="recurrence" id="id_recurrence">
                <option value="once">One-time</option>
                <option value="monthly">Monthly</option>
            </select>
        </label>

        <label>
            Email Address
            <input type="text" name="email" id="id_email" value=""
                required="required" />
        </label>

        <label>
            Show to Credit
            <input type="text" name="show" id="id_show" value="" />
        </label>

        {% if config.DONATE_PREMIUMS %}
        <label>
            Would you like any premiums?
        </label>

        <label>
            <input type="radio" name="premiums" id="id_premiums_no"
                value="no" checked="checked" />
            No, I'd like my entire donation to go towards WUVT
        </label>

        <label>
            <input type="radio" name="premiums" id="id_premiums_pickup"
                value="pickup" />
            Yes, I'll pick them up in 350 Squires Student Center
        </label>

        <label>
            <input type="radio" name="premiums" id="id_premiums_ship"
                value="ship" />
            Yes, ship them to me (+${{ config.DONATE_SHIPPING_COST }}, US only)
        </label>

        <div id="premium_fields">
        <label>
            T-Shirt Size
            <select id="id_tshirtsize" name="tshirtsize">
                {% for size in config.DONATE_TSHIRTSIZES %}
                <option value="{{ size }}">{{ size }}</option>
                {% endfor %}
            </select>
        </label>

        <label>
            T-Shirt Color
            <select id="id_tshirtcolor" name="tshirtcolor">
                {% for color in config.DONATE_TSHIRTCOLORS %}
                <option value="{{ color }}">{{ color }}</option>
                {% endfor %}
            </select>
        </label>

        <label>
            Sweatshirt Size
            <select id="id_sweatshirtsize" name="sweatshirtsize">
                {% for size in config.DONATE_SWEATSHIRTSIZES %}
                <option value="{{ size }}">{{ size }}</option>
                {% endfor %}
            </select>
        </label>
        </div>

        <div id="shipping_fields">
        <label>
            Address
            <input type="text" name="address_1" id="id_address_1" value="" />
        </label>

        <label>
            Address 2
            <input type="text" name="address_2" id="id_address_2" value="" />
        </label>

        <label>
            City
            <input type="text" name="city" id="id_city" value="" />
        </label>

        <label>
            State
            <input type="text" name="state" id="id_state" value="" />
        </label>

        <label>
            ZIP Code
            <input type="text" name="zipcode" id="id_zipcode" value="" />
        </label>
        </div>
        {% endif %}

        <label>
            May we thank you on-air?
            <select name="onair" id="id_onair">
                <option value="y">Yes</option>
                <option value="n">No</option>
            </select>
        </label>

        <label>
            Is this your first time contributing?
            <select name="firsttime" id="id_firsttime">
                <option value="y">Yes</option>
                <option value="n" selected="selected">No</option>
            </select>
        </label>

        <button type="submit" class="btn-primary">Donate Now</button>
    </form>

    <footer></footer>
</section>
{% endblock %}
{# FIXME: this will not work with AJAX loading #}
{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/donate.js') }}"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
var shipping_minimum = parseInt("{{ config.DONATE_SHIPPING_MINIMUM }}") * 100;

init_donate();

var handler = StripeCheckout.configure({
    key: "{{ config.STRIPE_PUBLIC_KEY }}",
    image: '/static/img/icon.png',
    token: function(token) {
        $('#id_stripe_token').val(token.id);
        $.ajax({
            'url': $('#donate_form')[0].action,
            'type': 'post',
            'data': $('#donate_form').serialize(),
        }).done(function(data) {
            var path = "{{ url_for('donate.thanks') }}";
            window.history.replaceState({'path': path}, "Donate Online", path);
            loadPage(path);
        }).fail(function(data) {
            alert("There was a problem donating!");
            console.log(data);
        });
    }
});

$('#donate_form').submit(function(ev) {
    var amount = parseFloat($('#id_amount').val()) * 100;
    if($('#id_premiums_ship').is(':checked') && amount >= shipping_minimum) {
        amount += parseInt("{{ config.DONATE_SHIPPING_COST }}") * 100;
    }

    // Open Checkout with further options
    handler.open({
        name: "{{ config.STRIPE_NAME }}",
        description: "Donate Online",
        amount: amount,
        currency: "usd",
        panelLabel: "Pay {{ '{{amount}}' }}",
        email: $('#id_email').val(),
        bitcoin: true,
    });

    ev.preventDefault();
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
    handler.close();
});
</script>
{% endblock %}
