<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>{% if page_title %}{{ page_title }} &ndash; {% endif %}{{ trackman_name }}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css', v=3) }}" />

        <link rel="shortcut icon"
            href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <link rel="apple-touch-icon"
            href="{{ url_for('static', filename='img/icon.png') }}" />
    </head>
    <body{% block bodyattrib %}{% endblock %}>
{% block header %}
{% endblock %}

<div class="container-fluid">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ msg }}
    </div>
    {% endfor %}

{% block content %}
{% endblock %}
</div>

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/global.js') }}"></script>
{% endblock %}
    </body>
</html>
