{% extends "trackman/base.html" %}
{% block content %}

<h1>{{ trackman_name }}: {{ djset.dj.airname }}</h1>

{% if tracks %}
<table class='table table-condensed table-striped table-hover'>
    <thead>
        <tr>
            <th>Time</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Album</th>
            <th>Label</th>
            <th colspan="2">Request/Vinyl</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for track in tracks %}
        <tr id="track-{{ track.id }}">
            <td>{{ track.datetime|datetime("%H:%M:%S") }}</td>
            <td>{{ track.artist }}</td>
            <td>{{ track.title }}</td>
            <td>{{ track.album }}</td>
            <td>{{ track.label }}</td>
            <td>{% if track.request %}REQ{% endif %}</td>
            <td>{% if track.vinyl %}VIN{% endif %}</td>
            <td class="buttons">
                <a href="{{ url_for('trackman.edit', setid=djset.id,
                    trackid=track.id) }}" class="btn btn-default btn-sm">Edit</a>
                <button class="btn btn-danger btn-sm delete-track"
                    type="button">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<form action="{{ url_for('trackman.log', setid=djset.id) }}" method="post"
    class="form-horizontal">
    <h2>Add to Playlist</h2>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="row trackman-entry">
        <div class="col-md-6 trackman-controls">
            <div class="form-group">
                <label for="id_artist" class="col-sm-3 control-label">Artist</label>
                <div class="col-sm-9">
                    <input type="text" name="artist" id="id_artist" value=""
                        required="required" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="id_title" class="col-sm-3 control-label">Title</label>
                <div class="col-sm-9">
                    <input type="text" name="title" id="id_title" value=""
                        required="required" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="id_album" class="col-sm-3 control-label">Album</label>
                <div class="col-sm-9">
                    <input type="text" name="album" id="id_album" value=""
                        required="required" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="id_label" class="col-sm-3 control-label">Label</label>
                <div class="col-sm-9">
                    <input type="text" name="label" id="id_label" value=""
                        required="required" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="request" />
                            Request
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="vinyl" />
                            Vinyl
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1 trackman-help">
            <h4>
                <span class="glyphicon glyphicon-flag"></span>
                If you can't fill in the blanks, you can't play it.
            </h4>

            You may find these sites helpful to find missing information:
            <ul>
                <li><a href="http://www.allmusic.com/"
                    rel="external">AllMusic</a></li>
                <li><a href="http://www.amazon.com/music/"
                    rel="external">Amazon.com Music</a></li>
                <li><a href="http://www.discogs.com/"
                    rel="external">Discogs</a></li>
                <li><a href="http://musicbrainz.org/search.html"
                    rel="external">MusicBrainz</a></li>
            </ul>

            <div class="col-sm-9 col-sm-offset-3 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="email_playlist"
                            id="id_email_playlist"
                            {% if email_playlist %}checked="checked"{% endif %} />
                        Email me my playlist after I logout
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row form-actions">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-list"></span>
            Add to Playlist
        </button>

        <button type="button" class="btn btn-default" id="trackman_logout_btn">
            <span class="glyphicon glyphicon-eject"></span>
            Logout
        </button>
    </div>
</form>
<form action="{{ url_for('trackman.logout', setid=djset.id) }}" method="post"
    id="trackman_logout_form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="email_playlist" value="0" />
</form>
{% endblock %}
{% block js %}
{{ super() }}
<script>
var csrf_token = "{{ csrf_token() }}";

$(function() {
    $('#trackman_logout_btn').click(function() {
        var email = ($('#id_email_playlist:checked').val() == "on") ? 1 : 0;
        $("#trackman_logout_form input[name='email_playlist']").val(email);

        $('#trackman_logout_form').submit();
    });

    $('button.delete-track').bind('click', function(ev) {
        if(confirm("Are you sure you want to delete this track?")) {
            $.ajax({
                'type': "DELETE",
                'url': "/trackman/log/{{ djset.id }}/" +
                    $(this).closest('tr').attr('id').replace("track-", "") +
                    "?_csrf_token=" + csrf_token,
            }).done(function(msg) {
                csrf_token = msg['_csrf_token'];
                $(ev.currentTarget).closest('tr').
                    fadeTo('fast', 0, function() {
                        $(this).remove();
                    });
            });
        }
    });
});
</script>
{% endblock %}
