{% extends "trackman/base.html" %}
{% block header %}
<nav class="navbar navbar-default trackman-header">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#trackman-top-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">{{ trackman_name }}</span>
    </div>

    <div class="collapse navbar-collapse" id="trackman-top-collapse">
        <p class="navbar-text">{{ djset.dj.airname }}</p>

        <form action="{{ url_for('trackman_private.logout', setid=djset.id) }}"
                method="post" class="navbar-form navbar-right"
                id="trackman_logout_form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

            <label class="checkbox-inline">
                <input type="checkbox" name="email_playlist" value="true"
                    id="id_email_playlist"
                    {% if email_playlist %}checked="checked"{% endif %} />
                Email me my playlist
            </label>

            <label class="checkbox-inline">
                <input type="checkbox" name="extend_autologout"
                    id="id_extend_autologout" />
                Let me play longer songs
            </label>

            <button type="submit" class="btn btn-warning">
                <span class="glyphicon glyphicon-log-out"></span>
                Logout
            </button>
        </form>
    </div>

    <div class="text-center trackman-metadata-reminder">
        <h4>
            <span class="glyphicon glyphicon-flag"></span>
            If you can't fill in the blanks, you can't play it.
        </h4>
        <p>You may find these sites helpful to find missing information:</p>
        <ul class="list-inline">
            <li><a href="http://www.allmusic.com/"
                rel="external noopener noreferrer"
                target="_blank">AllMusic</a></li>
            <li><a href="http://www.amazon.com/music/"
                rel="external noopener noreferrer"
                target="_blank">Amazon.com Music</a></li>
            <li><a href="http://www.discogs.com/"
                rel="external noopener noreferrer"
                target="_blank">Discogs</a></li>
            <li><a href="http://musicbrainz.org/search.html"
                rel="external noopener noreferrer"
                target="_blank">MusicBrainz</a></li>
            <li><a href="http://metal-archives.com" 
                rel="external noopener noreferrer"
                target="_blank">Metal Archives</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="floating-alerts" id="trackman_alerts"></div> 

<div class="panel panel-default">
    <div class="row-table">
        <table class='table table-condensed table-striped table-hover' id="playlist">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Label</th>
                    <th>Request</th>
                    <th>Vinyl</th>
                    <th>New</th>
                    <th>Rotation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="trackman-entry">
    <div class="row">
        <div class="form-group col-md-3">
            <div class="input-group">
                <span class="input-group-addon">Artist</span>
                <input type="text" name="artist" id="artist" value="" class="form-control"
                    title="Enter the name of the artist for the track. If there is no clear artist listed, please use Various Artists as the artist."/>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <span class="input-group-addon">Title</span>
                <input type="text" name="title" id="title" value="" class="form-control"
                    title="Enter the name of the track. Please log multiple tracks separately, even if they are on the same album."/>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <span class="input-group-addon">Album</span>
                <input type="text" name="album" id="album" value="" class="form-control"
                    title="Enter the name of the release this track is on. For historical reasons, this is referred to as an album even if it is not."/>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <span class="input-group-addon">Label</span>
                <input type="text" name="rlabel" id="rlabel" value="" class="form-control"
                    title="Enter the record label for the release the track is on. Please be as specific as possible and include only one label; for example, use Sub Pop Records instead of the parent company, Warner Music Group."/>
            </div>
        </div>
    </div>
    <div class="row lookup-controls">
        <div class="col-md-4 text-center">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="request" name="request"/>
                            Request
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="vinyl" name="vinyl"/>
                            Vinyl
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="new" name="new"/>
                            New
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Rotation</span>
                        <select class="rotation form-control">
                            {% for id, rotation in rotations.iteritems() -%}
                            <option value="{{ id }}">{{ rotation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-group">
                <button id="new-queue" class="btn btn-primary"
                    title="Add this track to the queue below so it can be easily logged later.">
                    <span class="glyphicon glyphicon-plus"></span>
                    Queue New Track
                </button>
                <button id="new-log" class="btn btn-default"
                    title="Immediately log this track.">
                    <span class="glyphicon glyphicon-play"></span>
                    Log New Track
                </button>
                <button id="clear-form" class="btn btn-default"
                    title="Clear the track entry form.">
                    <span class="glyphicon glyphicon-erase"></span>
                    Clear Form
                </button>
            </div>
        </div>
    </div>
</div>

<!--
<div class="control-panel">
    <div class="row psa-controls">
        <button id="new-queue" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Station ID
        </button>
        <button id="new-queue" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Statement of Ownership
        </button>
        <button id="new-log" class="btn btn-default">
            <span class="glyphicon glyphicon-play"></span>
            PSA
        </button>
        <button id="new-delay" class="btn btn-default">
            <span class="glyphicon glyphicon-time"></span>
            Underwriting
        </button>
        <button id="new-delay" class="btn btn-default">
            <span class="glyphicon glyphicon-time"></span>
            Promo
        </button>
        <button id="new-delay" class="btn btn-default">
            <span class="glyphicon glyphicon-time"></span>
            Weather
        </button>
    </div>
</div>
-->

<div class="panel panel-default"> 
    <div class="row-table trackman-queue">
        <table class='table table-condensed table-striped table-hover' id='queue'>
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Label</th>
                    <th>Request</th>
                    <th>Vinyl</th>
                    <th>New</th>
                    <th>Rotation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Search Results</h3>
    </div>
    <div class="row-table trackman-search-results">
        <table class='table table-condensed table-striped table-hover' id="search">
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Label</th>
                    <th>Request</th>
                    <th>Vinyl</th>
                    <th>New</th>
                    <th>Rotation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="report_modal" role="dialog" class="modal fade" tabindex="-1"
        aria-labelledby="report_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="report_modal_label">
                    Report Track
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Artist</th>
                                <th>Title</th>
                                <th>Album</th>
                                <th>Label</th>
                            </tr>
                        </thead>
                        <tbody id="report_modal_tbody">
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label for="id_report_reason">
                            What's wrong with this track? How should it be fixed?
                        </label>
                        <input name="report_reason" id="id_report_reason" 
                            class="form-control" type="text"/>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button id="report_submit_btn" class="btn btn-primary">
                    Report Track
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/trackman/trackman.js', v=3) }}"></script>
<script src="{{ url_for('trackman_private.log_js', setid=djset.id) }}"></script>
{% endblock %}
