{% extends "trackman/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <h1>{{ trackman_name }}: {{ djset.dj.airname }}</h1>
    </div>
    <div class="col-md-7 text-center">
        <h4>
            <span class="glyphicon glyphicon-flag"></span>
            If you can't fill in the blanks, you can't play it.
        </h4>

        You may find these sites helpful to find missing information:
        <ul class="list-inline">
            <li><a href="http://www.allmusic.com/"
                rel="external" target="_blank">AllMusic</a></li>
            <li><a href="http://www.amazon.com/music/"
                rel="external" target="_blank">Amazon.com Music</a></li>
            <li><a href="http://www.discogs.com/"
                rel="external" target="_blank">Discogs</a></li>
            <li><a href="http://musicbrainz.org/search.html"
                rel="external" target="_blank">MusicBrainz</a></li>
            <li><a href="http://metal-archives.com" 
                rel="external" target="_blank">Metal Archives</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-default pull-right" id="trackman_logout_btn">
            <span class="glyphicon glyphicon-eject"></span>
            Logout
        </button>
        <label for="id_email_playlist">
            Email me my playlist
        </label>
            <input type="checkbox" name="email_playlist"
                id="id_email_playlist"
                {% if email_playlist %}checked="checked"{% endif %} />
    </div>
</div>
<div class="row row-table">
    <table class='table table-condensed table-striped table-hover' id="playlist">
        <thead>
            <tr>
                <th>Time</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Label</th>
                <th>Request</th>
                <th>Vinyl</th>
                <th>New</th>
                <th>Rotation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="trackman-entry">
    <div class="row">
        <div class="form-group col-md-3">
            <div class="input-group">
                <span class="input-group-addon">Artist</span>
                <input type="test" name="artist" id="artist" value="" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <span class="input-group-addon">Title</span>
                <input type="test" name="title" id="title" value="" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <span class="input-group-addon">Album</span>
                <input type="test" name="album" id="album" value="" class="form-control">
    
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <span class="input-group-addon">Label</span>
                <input type="test" name="rlabel" id="rlabel" value="" class="form-control">
            </div>
        </div>
    </div>
    <div class="row lookup-controls">
        <div class="col-md-4 text-center">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="checkbox">
                            <label for="">
                                Request
                                <input type="checkbox" class="request" name="request"/>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="">
                                Vinyl
                                <input type="checkbox" class="vinyl" name="vinyl"/>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="">
                                New
                                <input type="checkbox" class="new" name="new"/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Rotation</span>
                        <select class="rotation form-control">{% for id, rotation in rotations.iteritems() %}<option value='{{ id }}'>{{ rotation }}</option>{% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button id="new-queue" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Queue New Track
            </button>
            <button id="new-log" class="btn btn-default">
                <span class="glyphicon glyphicon-play"></span>
                Log New Track
            </button>
        </div>
    </div>
</div>
<div class="control-panel">
    <!--
    <div class="row psa-controls">
        <button id="new-queue" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Station ID
        </button>
        <button id="new-queue" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Statement of Ownership
        </button>
        <button id="new-log" class="btn btn-default">
            <span class="glyphicon glyphicon-play"></span>
            PSA
        </button>
        <button id="new-delay" class="btn btn-default">
            <span class="glyphicon glyphicon-time"></span>
            Underwriting
        </button>
        <button id="new-delay" class="btn btn-default">
            <span class="glyphicon glyphicon-time"></span>
            Promo
        </button>
        <button id="new-delay" class="btn btn-default">
            <span class="glyphicon glyphicon-time"></span>
            Weather
        </button>
    </div>
    -->
<div class="row row-table" style="height: 200px;">
    <table class='table table-condensed table-striped table-hover' id='queue'>
        <thead>
            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Label</th>
                <th colspan="3">Request/Vinyl/New</th>
                <th>Rotation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="row row-table" style="height: 340px;">
<h4>Search Results</h4>
    <table class='table table-condensed table-striped table-hover' id="search">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Label</th>
                <th colspan="3">Request/Vinyl/New</th>
                <th>Rotation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
{{ super() }}
<script src="/static/js/trackman.js"></script>
<script>
var csrf_token = "{{ csrf_token() }}";

$(function() {
    $('#trackman_logout_btn').click(function() {
        var email = ($('#id_email_playlist:checked').val() == "on") ? 1 : 0;
        $("#trackman_logout_form input[name='email_playlist']").val(email);

        $('#trackman_logout_form').submit();
    });

    $('button.delete-track').bind('click', function(ev) {
        if(confirm("Are you sure you want to delete this track?")) {
            $.ajax({
                'type': "DELETE",
                'url': "/trackman/log/{{ djset.id }}/" +
                    $(this).closest('tr').attr('id').replace("track-", "") +
                    "?_csrf_token=" + csrf_token,
            }).done(function(msg) {
                csrf_token = msg['_csrf_token'];
                $(ev.currentTarget).closest('tr').
                    fadeTo('fast', 0, function() {
                        $(this).remove();
                    });
            });
        }
    });
});

// dynamic javascript vars
var djset_id = {{ djset.id }};
// Dictionary mapping rotation_ids to strings
var rotations = {{ rotations|tojson|safe }};
var rotationoptions = "{% for id, rotation in rotations.iteritems() %}<option value='{{ id }}'>{{ rotation }}</option>{% endfor %}"
</script>
{% endblock %}
