{% extends "trackman/base.html" %}
{% block bodyattrib %} class="page-signin"{% endblock %}
{% block content %}

<form action="{{ url_for('trackman.login') }}" method="post" class="form-signin">
    <h2 class="form-signin-heading">{{ trackman_name }}</h2>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group">
        <select name="dj" class="form-control">
            <option value="">Select DJ</option>
            {% for dj in djs %}
            <option value="{{ dj.id }}">{{ dj.airname }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-headphones"></span>
        Login
    </button>

    {% if not automation %}
    <button type="button" class="btn btn-default" id="automation_btn">
        <span class="glyphicon glyphicon-play"></span>
        Start Automation
    </button>
    {% endif %}
</form>

<div class="trackman-buttons">
    <a href="{{ url_for('trackman.register') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-wrench"></span>
        Register New DJ
    </a>
</div>

<form action="{{ url_for('trackman.start_automation') }}" method="post" id="automation_start_form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
</form>
{% endblock %}
{% block js %}
{{ super() }}
<script>
$('#automation_btn').click(function() {
    $('#automation_start_form').submit();
});
</script>
{% endblock %}
