{% macro render_preshow_nav(active_page=None) %}
<ul class="nav nav-pills">
    <li role="presentation"{% if active_page == 'login' %} class="active"{% endif %}>
        <a href="{{ url_for('trackman_private.login') }}">
            <span class="glyphicon glyphicon-home"></span>
            Home
        </a>
    </li>
    <li role="presentation"{% if active_page == 'login_all' %} class="active"{% endif %}>
        <a href="{{ url_for('trackman_private.login_all') }}">
            <span class="glyphicon glyphicon-list"></span>
            All DJs
        </a>
    </li>
    <li role="presentation"{% if active_page == 'register' %} class="active"{% endif %}>
        <a href="{{ url_for('trackman_private.register') }}">
            <span class="glyphicon glyphicon-wrench"></span>
            Register New DJ
        </a>
    </li>
</ul>
{% endmacro %}
