{% extends "trackman/base.html" %}
{% set page_title="DJ Registration" %}
{% block content %}

<h1>{{ trackman_name }}: DJ Registration</h1>

{% for _, msg in errors.items() %}
<div class="alert alert-danger">{{ msg }}</div>
{% endfor %}

<form action="{{ url_for('trackman.register') }}" method="post"
    class="form-horizontal" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group">
        <label for="id_airname" class="col-sm-3 control-label">On-Air Name</label>
        <div class="col-sm-9">
            <input type="text" name="airname" id="id_airname"
                value="" required="required" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="id_name" class="col-sm-3 control-label">Real Name</label>
        <div class="col-sm-9">
            <input type="text" name="name" id="id_name"
                value="" required="required" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="id_email" class="col-sm-3 control-label">Email Address</label>
        <div class="col-sm-9">
            <input type="text" name="email" id="id_email"
                value="" required="required" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="id_phone" class="col-sm-3 control-label">Phone Number</label>
        <div class="col-sm-9">
            <input type="text" name="phone" id="id_phone" value=""
                class="form-control" required="required"
                pattern="\d{3}\-\d{3}\-\d{4}"
                placeholder="540-555-5555" />
        </div>
    </div>

    <div class="form-group">
        <label for="id_genres" class="col-sm-3 control-label">Genres you can DJ</label>
        <div class="col-sm-9">
            <input type="text" name="genres" id="id_genres"
                value="" required="required" class="form-control" />
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span>
            Register DJ
        </button>

        <a href="{{ url_for('trackman.login') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
        </a>
    </div>
</form>
{% endblock %}
