{% extends "trackman/base.html" %}
{% set page_title="Report Track" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <h1>Report Track: {{ dj.airname }}</h1>
    </div>
    <div class="col-md-8 text-center">
        <h4>
            <span class="glyphicon glyphicon-flag"></span>
            If you can't fill in the blanks, you can't play it.
        </h4>

        You may find these sites helpful to find missing information:
        <ul class="list-inline">
            <li><a href="http://www.allmusic.com/"
                rel="external" target="_blank">AllMusic</a></li>
            <li><a href="http://www.amazon.com/music/"
                rel="external" target="_blank">Amazon.com Music</a></li>
            <li><a href="http://www.discogs.com/"
                rel="external" target="_blank">Discogs</a></li>
            <li><a href="http://musicbrainz.org/search.html"
                rel="external" target="_blank">MusicBrainz</a></li>
            <li><a href="http://metal-archives.com" 
                rel="external" target="_blank">Metal Archives</a></li>
        </ul>
    </div>
</div>

<div class="row">
<form action="{{ url_for('trackman_private.report_track', dj_id=dj.id, track_id=track.id) }}"
    method="post" class="" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="row">
        <table class='table table-condensed'>
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ track.artist }}
                    </td>
                    <td>
                        {{ track.title }}
                    </td>
                    <td>
                        {{ track.album }}
                    </td>
                    <td>
                        {{ track.label }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <div class="input-group">
            <label for="reason">List what is wrong with this track. This can be bad capitalization, duplicate track, incorrect label etc. Include a suggested fix or how you think the track should look.</label>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ error }}
                </div>
            {% endif %}
            <textarea rows="5" class="form-control" name="reason" id="reason"></textarea>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
</div>
{% endblock %}
{% block js %}
{{ super() }}
{% endblock %}
