{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ super() }}{% endblock %}
{% block content %}

<article>
    <header>
        <h2>{{ article.title }}</h2>
        <h3>written by {{ article.author.name }} on <time datetime="{{ article.datetime|isodatetime }}" data-format="MMMM D, YYYY, HH:mm">{{ article.datetime|datetime("%B %d, %Y, %H:%M") }}</time></h3>
    </header>

{{ article.html_content|safe or article.html_summary|safe }}

    <footer>
        Filed under
        <a href="{{ url_for('category', slug=article.category.slug) }}">{{ article.category.name }}</a>
    </footer>
</article>
{% endblock %}
