<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>{% block title %}WUVT: Radio for Everyone!{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wuvt.css') }}" />
    </head>
    <body>

<header>
    <div id="nowplaying"> <!-- now playing bar -->
        {% block now_playing %}
        <ul>
            <li><strong>Currently on air:</strong> <span id="current_track">{{ current_track }}</span></li>
            <li><strong>Current DJ:</strong> <span id="current_dj">{{ current_dj }}</span></li>
        </ul>
        {% endblock %}
    </div>

    <div id="mainheader">
        <h1><a href="/">WUVT: Radio for Everyone!</a></h1>
        <img src="/static/img/robot.svg" alt="" />
    </div>

    <div id="bubble">
        {% block bubble %}
        <ul>
            <li><a href="#listen">Listen Live!</a></li>
            <li><a href="{{ url_for('last15') }}">Last 15 Tracks!!</a></li>
            <li><a href="{{ url_for('page', slug='program-guide') }}">Program Guide!!!</a></li>
        </ul>
        {% endblock %}
    </div>

    <nav> <!-- top, horizontal nav bar -->
        {% block nav_top %}
        <ul>
            <li><a href="{{ url_for('page', slug='about') }}">About</a></li>
            <li><a href="{{ url_for('page', slug='community') }}">Community</a></li>
            <li><a href="#playlists">Playlists</a></li>
            <li><a href="#woove">Woove</a></li>
            <li><a href="{{ url_for('page', slug='contact') }}">Contact</a></li>
        </ul>
        {% endblock %}
    </nav>
</header>

<div id="wrapper">

    <div id="side">
        <nav id="side_primary">
            {% block nav_side_primary %}
            <ul>
                <li><a href="{{ url_for('page', slug='links') }}">Links</a></li>
            </ul>
            {% endblock %}
        </nav>

        {% block nav_side_social %}
        <ul id="side_social">
            <li><a href="https://www.facebook.com/WUVTFM" rel="external"><img
                src="/static/img/facebook.svg" title="WUVT on Facebook"
                alt="WUVT on Facebook" /></a></li>
            <li><a href="/feed"><img src="/static/img/rss.svg" 
                title="WUVT Feed" alt="WUVT Feed" /></a></li>
            <li><a href="https://twitter.com/wuvtfm" rel="external"><img
                src="/static/img/twitter.svg" title="WUVT on Twiter"
                alt="WUVT on Twitter" /></a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

<footer>
</footer>

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/live.js') }}"></script>
<script>$(function(){wuvtLive("{{ url_for('livestream') }}");});</script>
{% endblock %}
    </body>
</html>
