<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>WUVT: Radio for Everyone!</title>

        <link rel="stylesheet" type="text/css" href="/static/css/wuvt.css" />
    </head>
    <body>

<header>
    <hgroup id="nowplaying"> <!-- now playing bar -->
        <ul>
            <li><strong>Currently on air:</strong> The ballad of Wadsworth - Anthology of bot music (The Luugers)</span></li>
            <li><strong>Current DJ:</strong> DJ Bromania</li>
        </ul>
    </hgroup>

    <hgroup id="mainheader">
        <h1><a href="/">WUVT: Radio for Everyone!</a></h1>
        <img src="/static/img/robot.svg" alt="" />
    </hgroup>

    <hgroup id="bubble">
        <ul>
            <li><a href="#listen">Listen Live!</a></li>
            <li><a href="#last15">Last 15 Tracks!!</a></li>
            <li><a href="#programguide">Program Guide!!!</a></li>
        </ul>
    </hgroup>

    <nav> <!-- top, horizontal nav bar -->
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#community">Community</a></li>
            <li><a href="#playlists">Playlists</a></li>
            <li><a href="#woove">Woove</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>

<div id="wrapper">

    <div id="side">
        <nav>
            <ul>
                <li><a href="#events">Events</a></li>
                <li><a href="#Weather">Weather</a></li>
                <li><a href="#News">News</a></li>
                <li><a href="#Sports">Sports</a></li>
                <li><a href="#Newsletter">Newsletter</a></li>
                <li><a href="#Polls">Polls</a></li>
                <li><a href="#Links">Links</a></li>
            </ul>
        </nav>
    </div>

    <div id="content">
<article>
<hgroup>
    <h1>Cloud Nothings Prize Pack Giveaway</h1>
    <hr>
    <h2>written by Chris Winfield</h2>
</hgroup>

<img src="article-pic.png" alt="I dont even know what this is!" />

<p>Yolo ipsum ratione commodi repellendus minus and so I did, but that was last
month quidem. Illo enim libero aperiam impedit distinctio aliquid. Praesentium
incidunt sunt asperiores magni dealing with a heart that I didn't break
blanditiis. Voluptatum dolore aut nulla quidem and I wish she wasn't married.</p>

<p>Odit rest in peace mac dre, I'mma do it for the bay, okay accusamus alias
illo hic minima. Cupiditate atque nam sit quae ducimus quia sint. Qui what you
bothering me for? dignissimos hell yeah, hell yeah qui libero If you hurt, I
don't tell you. Provident distinctio nostrum soluta accusantium voluptates.</p>

<p>Cupiditate iste beatae fuckin' right, all right ipsam sint. Non dolorem
blanditiis facere neque excepturi amet. Id illo non officia placeat velit
distinctio. Vero perspiciatis animi qui quisquam eum.</p>

<p>Consequatur aut nemo est optio placeat. Ut illum at impedit ut repellat.
Quia est et nobis labore then right after texting I told her I'm faded damn
right, all right. Mollitia molestias quis one time, been in love one time
voluptatem aut maxime molestiae. Officia et qui I'm in the building and I'm
feeling myself I've had mine, you've had yours we both know quia cumque we all
have our nights though, don't be so ashamed.</p>

<p>Vero similique ab exercitationem ipsam blanditiis vitae vitae. Quis aliquid
ea It's women to call ex voluptas aperiam. Incidunt consequatur culpa autem
listen, listen, whoa, yeah, listen, ooooh consequuntur ut quis. We all have our
nights though, don't be so ashamed impedit ab officiis autem odit you hate the
fact that you bought the dream.</p>

<footer>filed under: <span>events</span></footer>
</article>

<article>
<hgroup>
    <h1>Hudson Hits Another Buzzer Beater in Hokies Win</h1>
    <hr>
    <h2>written by Ryan Durham</h2>
</hgroup>

<p>Yolo ipsum rerum est delectus cumque aliquam quia aliquid. I'm fucked up,
torn down officiis accusamus repudiandae harum sint quas. Suscipit eligendi
quasi vel veritatis enim est. Tenetur autem consequuntur sint aut soluta nostrum.</p>

<p>Nesciunt laboriosam voluptas repellat nemo repellendus aut. One time, been
in love one time quo I keep thinking you just don't know corrupti quo numquam
recusandae. That she only see when she feels obligated quo recusandae nisi they
loving the crew enim aliquid aut. Ipsa quisquam doloribus accusamus explicabo
est voluptatem.</p>

<p>Dignissimos quam omnis in autem id excepturi. Possimus molestiae fuga tell
uncle luke I'm out in miami too fugiat obcaecati ipsam. Blanditiis non we eat
each other whenever we at the dinner table et voluptatum possimus. If you let
me, here's what I'll do error obcaecati It's cause we blowing like a c4 ut
autem suscipit. Ipsam nostrum inventore unde est culpa est voluptas.</p>

<p>Libero they loving the crew laudantium minima ut possimus soluta. Enim autem
et atque nulla like we sittin' on the bench, nigga we don't really play quae
(and we say) hell yeah. Est aperiam quo quisquam quis eos et. Id minima iusto
voluptas laborum sequi quia et. Aliquid facilis a laudantium the realest niggas
say 'your lyrics do shit for me' et sit ad.</p>

<p>Qui I've loved and I've lost quae ipsa id even though it's fucked up, girl,
I'm still fucking wit ya quis. Odit voluptate energizer bunny omnis vero
numquam est. Quia placeat go uptown, new york city biiitch oh, they lovin the
crew but my mind didn't change you won't ever have to hide qui.</p>

<footer><a href="#readmore">Read more...</a></footer>
</article>

    </div>
</div>

<footer>
</footer>

    </body>
</html>
