<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}WUVT: Radio for Everyone!{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wuvt.css', v=28) }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/glyphiconstrap.css') }}" />
        <link rel="alternate" type="application/atom+xml"
            href="{{ feedlink or url_for('blog.all_feed') }}" title="Atom Feed"  />
        {% block css %}
        {% endblock %}
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <link rel="apple-touch-icon"
            href="{{ url_for('static', filename='img/icon.png') }}" />
    </head>
    <body>

<header>
    <div id="nowplaying"> <!-- now playing bar -->
        {% block now_playing %}
        <ul>
            <li><strong>Currently on air:</strong> <span id="current_track">{{ current_track }}</span></li>
            <li><strong>Current DJ:</strong> <span id="current_dj">{% if current_dj_id > 0 -%}
<a href="{{ url_for('playlists.playlists_dj_sets', dj_id=current_dj_id) }}">{{ current_dj }}</a>
{% else -%}
{{ current_dj }}{% endif -%}
</span></li>
        </ul>
        {% endblock %}
    </div>

    <div id="mainheader">
        <h1>
            <a href="{{ url_for('blog.index') }}" title="{{ config.STATION_NAME }}">
	        <img id="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="WUVT: Radio for Everyone! 90.7 FM" />
	    </a>
	    <img id="hamburger" src="{{ url_for('static', filename='img/Hamburger_icon.svg') }}" /> <!--Icon source: https://commons.wikimedia.org/wiki/File:Hamburger_icon.svg-->
	</h1>

        <div id="robot">
        </div>
	<div id="bubble">
            {% block bubble %}
            <ul>
                <li id="listen-live"><a href="{{ url_for('page', slug='listen-live') }}">Listen Live!</a></li>
                <li id="last-15"><a href="{{ url_for('playlists.last15') }}">Last 15 Tracks!!</a></li>
                <li id="donate-online"><a href="{{ url_for('page', slug='donate') }}">Donate Online!!!</a></li>
            </ul>
            {% endblock %}
        </div>
    </div>
    <nav> <!-- top, horizontal nav bar -->
        {% block nav_top %}
        <ul>
        </ul>
        {% endblock %}
    </nav>
</header>

<div id="wrapper">

    <div id="side" class="translateSide">
        {% if radiothon and active_page != 'donate' and active_flow != 'donate' -%}
        <div id="radiothon_banner">
            <a href="{{ url_for('page', slug='donate') }}">It's Radiothon! <strong>Donate Now!</strong></a>
        </div>
        {% endif -%}

        <nav id="side_primary">
            {% block nav_side_primary %}
            <ul>
                <li>
                    <span class="menu-heading">News</span>
                    <ul>
                        {% for cat in categories %}
                        {% if cat.published %}
                        <li{% if active_category is defined and active_category == cat.id %} class="active"{% endif %}><a href="{{ url_for('blog.category', slug=cat.slug) }}">{{ cat.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                {% for section in config['NAV_TOP_SECTIONS'] -%}
                {% if 'hidden' not in section or section['hidden'] == False -%}
                <li>
                    <span class="menu-heading">{{ section['name'] }}</span>
                    <ul>
                        {% if section['menu'] == 'playlists' -%}
                        <li{% if active_menu == "last15" %} class="active"{% endif %}><a href="{{ url_for('playlists.last15') }}">Last 15</a></li>
                        <li{% if active_menu == "playlists_date" %} class="active"{% endif %}><a href="{{ url_for('playlists.playlists_date') }}">by date</a></li>
                        <li{% if active_menu == "playlists_dj" %} class="active"{% endif %}><a href="{{ url_for('playlists.playlists_dj') }}">by DJ</a></li>
                        <li{% if active_menu == "charts_index" %} class="active"{% endif %}><a href="{{ url_for('playlists.charts_index') }}">Charts</a></li>
                        {% endif -%}
                        {% for page in menus[section['menu']] -%}
                        {% if page.published %}
                        <li{% if active_page is defined and active_page == page.slug %} class="active"{% endif %}><a href="{{ url_for('page', slug=page.slug) }}">{{ page.name }}</a></li>
                        {% endif %}
                        {% endfor -%}
                    </ul>
                </li>
                {% endif -%}
                {% endfor %}

                <li>
                    <span class="menu-heading">Social</span>
                    <ul>
                        <li><a href="https://www.facebook.com/WUVTFM" rel="external" title="WUVT on Facebook">Facebook</a></li>
                        <li><a href="https://twitter.com/wuvtfm" rel="external" title="WUVT on Twitter">Twitter</a></li>
                        <li><a href="https://www.instagram.com/wuvt" rel="external" title="WUVT on Instagram">Instagram</a></li>
                        <li><a href="{{ feedlink or url_for('blog.all_feed') }}" rel="feed" title="Atom Feed">Feed</a></li>
                    </ul>
                </li>
            </ul>
            {% endblock %}
        </nav>

        {% block nav_side_social %}
        <ul id="side_social">
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

<footer>
    © 2007-{{ year }} WUVT-FM et al. <a href="/legal">Some rights reserved.</a> <a href="/privacy">Privacy Policy</a>
</footer>

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/global.js') }}"></script>
<script src="{{ url_for('static', filename='js/live.js', v=3) }}"></script>
<script src="{{ url_for('static', filename='js/stream.js', v=3) }}"></script>
<script src="{{ url_for('static', filename='js/playlists_by_date.js') }}"></script>
<script src="{{ url_for('static', filename='js/responsive_components.js') }}"></script>
<script src="{{ url_for('init_js') }}"></script>
{% endblock %}
    </body>
</html>
