{% extends "base.html" %}
{% block title %}Top Tracks - Charts - {{ super() }}{% endblock %}
{% block content %}
<section>
<header>
    <h2>Charts: Top Tracks</h2>
    <h3>from <time datetime="{{ start|isodatetime }}" data-format="YYYY-MM-DD">{{ start|datetime("%Y-%m-%d") }}</time> to
        <time datetime="{{ end|isodatetime }}" data-format="YYYY-MM-DD">{{ end|datetime("%Y-%m-%d") }}</time></h3>
</header>

<table class="tracklist chart">
    <thead>
        <th>Artist</th>
        <th>Track</th>
        <th>Album</th>
        <th class="text-right">Plays</th>
    </thead>
    <tbody>
        {% for track, plays in results %}
        <tr>
            <td>{{ track.artist }}</td>
            <td><a href="{{ url_for('trackman.playlists_track', track_id=track.id) }}">{{ track.title }}</a></td>
            <td>{{ track.album }}</td>
            <td class="text-right">{{ plays }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>
{% endblock %}
