{% macro render_chart_albums(results) %}
{% set ranking = 0 %}
{% set last_spins = -1 %}
{% set increment = 1 %}
<table class="tracklist tracklist-ranked chart">
    <thead>
        <th></th>
        <th>Artist</th>
        <th>Album</th>
        <th class="text-right">Spins</th>
    </thead>
    <tbody>
    {% for artist, album, spins in results %}
        {% if spins == last_spins %}
            {% set increment = increment + 1 %}
        {% else %}
            {% set last_spins = spins %}
            {% set ranking = ranking + increment %}
            {% set increment = 1 %}
        {% endif %}
        <tr>
            <td>{{ ranking }}</td>
            <td>{{ artist }}</td>
            <td>{{ album }}</td>
            <td class="text-right">{{ spins }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_chart_artists(results) %}
{% set ranking = 0 %}
{% set last_spins = -1 %}
{% set increment = 1 %}
<table class="tracklist tracklist-ranked chart">
    <thead>
        <th></th>
        <th>Artist</th>
        <th class="text-right">Spins</th>
    </thead>
    <tbody>
    {% for artist, spins in results %}
        {% if spins == last_spins %}
            {% set increment = increment + 1 %}
        {% else %}
            {% set last_spins = spins %}
            {% set ranking = ranking + increment %}
            {% set increment = 1 %}
        {% endif %}
        <tr>
            <td>{{ ranking }}</td>
            <td>{{ artist }}</td>
            <td class="text-right">{{ spins }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_chart_tracks(results) %}
{% set ranking = 0 %}
{% set last_spins = -1 %}
{% set increment = 1 %}
<table class="tracklist tracklist-ranked chart">
    <thead>
        <th></th>
        <th>Artist</th>
        <th>Track</th>
        <th>Album</th>
        <th class="text-right">Spins</th>
    </thead>
    <tbody>
    {% for track, spins in results %}
        {% if spins == last_spins %}
            {% set increment = increment + 1 %}
        {% else %}
            {% set last_spins = spins %}
            {% set ranking = ranking + increment %}
            {% set increment = 1 %}
        {% endif %}
        <tr>
            <td>{{ ranking }}</td>
            <td>{{ track.artist }}</td>
            <td><a href="{{ url_for('trackman.playlists_track', track_id=track.id) }}">{{ track.title }}</a></td>
            <td>{{ track.album }}</td>
            <td class="text-right">{{ spins }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_chart_dj(results) %}
{% set ranking = 0 %}
{% set last_spins = -1 %}
{% set increment = 1 %}
<table class="tracklist tracklist-ranked chart">
    <thead>
        <th></th>
        <th>DJ</th>
        <th class="text-right">Spins</th>
    </thead>
    <tbody>
    {% for dj, spins in results %}
        {% if spins == last_spins %}
            {% set increment = increment + 1 %}
        {% else %}
            {% set last_spins = spins %}
            {% set ranking = ranking + increment %}
            {% set increment = 1 %}
        {% endif %}
        <tr>
            <td>{{ ranking }}</td>
            <td><a href="{{ url_for('trackman.playlists_dj_sets', dj_id=dj.id) }}">{{ dj.airname }}</a></td>
            <td class="text-right">{{ spins }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}
