{% import "chart_macros.html" as macros %}
{% extends "base.html" %}
{% block title %}Top Tracks - Charts - {{ super() }}{% endblock %}
{% block content %}
<section>
<header>
    <h2>Charts: Top Tracks</h2>
    <h3>from <time datetime="{{ start|isodatetime }}" data-format="YYYY-MM-DD">{{ start|datetime("%Y-%m-%d") }}</time> to
        <time datetime="{{ end|isodatetime }}" data-format="YYYY-MM-DD">{{ end|datetime("%Y-%m-%d") }}</time></h3>
</header>

{{ macros.render_chart_tracks(results) }}
</section>
{% endblock %}
