{% extends "base.html" %}
{% block nav_side_primary %}
<ul>
    {% for cat in categories %}
    <li><a href="{{ url_for('category', slug=cat.slug) }}">{{ cat.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
{% block content %}

{% for article in articles %}
<article>
    <hgroup>
        <h2>{{ article.title }}</h2>
        <h3>written by {{ article.author.name }} on {{ article.datetime|datetime("%B %d, %Y at %H:%M") }}</h3>
    </hgroup>

{{ article.content|safe }}

    <footer>
        <a href="{{ url_for('article', slug=article.slug) }}">Read more...</a>
    </footer>
</article>
{% endfor %}
{% endblock %}
