{% extends "base.html" %}
{% block content %}

{% if articles.items %}
{% for article in articles.items %}
<article>
    <header>
        <h2><a href="{{ url_for('article', slug=article.slug) }}">{{ article.title }}</a></h2>
        <h3>written by {{ article.author.name }} on {{ article.datetime|datetime("%B %d, %Y at %H:%M") }}</h3>
    </header>

{{ article.html_summary|safe }}

    <footer>
        <a href="{{ url_for('article', slug=article.slug) }}">Read more...</a>
    </footer>
</article>
{% endfor %}

{% if articles.has_prev or articles.has_next -%}
<section class="pagination">
    {% if articles.has_prev -%}
    <a href="{{ url_for('index', page=articles.prev_num) }}">« Previous</a>
    {% endif -%}

    {% if articles.has_next -%}
    <a href="{{ url_for('index', page=articles.next_num) }}">Next »</a>
    {% endif -%}
</section>
{% endif -%}
{% else %}
<section>
    <header>
        <h2>No articles to display</h2>
    </header>

    <p>There are no articles in this category.</p>
</section>
{% endif %}
{% endblock %}
