{% extends "base.html" %}
{% block title %}Last 15 Tracks - {{ super() }}{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<section>
<hgroup>
    <h2>Last 15 Tracks</h2>
</hgroup>

<table id="tracktable" class="tracklist">
    <thead>
        <th>Time Aired</th>
        <th>New?</th>
        <th>Artist</th>
        <th>Track</th>
        <th>Album</th>
        <th>DJ</th>
        <th>Request</th>
        <th>Vinyl</th>
    </thead>
    <tbody>
        {% for track in tracklogs %}
        <tr>
            <td>{{ track.played|datetime("%H:%M:%S") }}</td>
            <td>{% if track.new %}<span class="glyphicon glyphicon-fire new-track"></span>{% endif %}</td>
            <td>{{ track.track.artist }}</td>
            <td>{{ track.track.title }}</td>
            <td>{{ track.track.album }}</td>
            <td>{{ track.dj.airname }}</td>
            <td>{% if track.request %}<span class="glyphicon glyphicon-earphone"></span>{% endif %}</td>
            <td>{% if track.vinyl %}<span class="glyphicon glyphicon-cd"></span>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>

<section>
<hgroup>
    <h2>Miss a Song?</h2>
</hgroup>

<p>Check out our playlist archives. You can search
<a href='{{ url_for('playlists_date') }}'>air date</a> or
<a href="{{ url_for('playlists_dj') }}">DJ</a>.</p>
</section>
{% endblock %}
