{% set active_menu = "last15" %}
{% extends "base.html" %}
{% block title %}Last 15 Tracks - {{ super() }}{% endblock %}
{% block content %}
<header>
    <h2>Last 15 Tracks</h2>
</header>

<div class="entry-container">
    {% for track in tracklogs %}
        <span class="entry shadow">
            <span class="trackandartist">
                <p class="track"><a href="{{ url_for('playlists.playlists_track', track_id=track.track.id) }}"><b>{{ track.track.title }}</a>  {% if track.new %}<span class="glyphicon glyphicon-fire new-track" title="New"></span>{% endif %}</b></p>
                <p class="artist">{{ track.track.artist }}</p>
            </span>
           
            <p>{{ track.track.album }}</p>
            <p class="dj">
                {% if track.dj.visible -%}
                <a href="{{ url_for('playlists.playlists_dj_sets', dj_id=track.dj_id) }}">{{ track.dj.airname }}</a>
                {% else -%}
                {{ track.dj.airname }}
                {% endif -%}
            </p>
            {% if track.request %}<span class="glyphicon glyphicon-earphone" title="Request"></span>{% endif %}
            {% if track.vinyl %}<span class="glyphicon glyphicon-cd" title="Vinyl"></span>{% endif %}
            <p><time datetime="{{ track.played|isodatetime }}" data-format="HH:mm">{{ track.played|datetime("%H:%M:%S") }}</time></p>
        </span>
    {% endfor %}
</div>

<section>
<header>
    <h2>Miss a Song?</h2>
</header>

<p>Check out our playlist archives. You can search
<a href='{{ url_for('playlists.playlists_date') }}'>air date</a> or
<a href="{{ url_for('playlists.playlists_dj') }}">DJ</a>.</p>
</section>
{% endblock %}
