{% extends "base.html" %}
{% block title %}{{ djset.dtstart|datetime("%Y-%m-%d %H:%M") }} -G{{ djset.dj.airname }} - Playlist Archive - {{ super() }}{% endblock %}

{% block content %}
<section>
<hgroup>
    <h2>Playlist Archive</h2>
    <h3>{{ djset.dj.airname }} / {{ djset.dtstart|datetime("%Y-%m-%d %H:%M") }}</h3>
</hgroup>

<table id="tracktable" class="tracklist">
    <thead>
        <th>Time Aired</th>
        <th>New?</th>
        <th>Track</th>
        <th>Album</th>
        <th colspan="2">Request/Vinyl</th>
    </thead>
    <tbody>
        {% for track in tracks %}
        <tr>
            <td>{{ track.datetime|datetime("%H:%M:%S") }}</td>
            <td>{% if track.new %}NEW{% endif %}</td>
            <td>{{ track.artist }} - {{ track.title }}</td>
            <td>{{ track.album }}</td>
            <td>{% if track.request %}REQ{% endif %}</td>
            <td>{% if track.vinyl %}VIN{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>
{% endblock %}
