{% extends "base.html" %}
{% block title %}{{ dj.airname }} - Playlist Archive (by DJ) - {{ super() }}{% endblock %}

{% block content %}
<section>
    <header>
        <h2>Playlist Archive (by DJ)</h2>
        <h3>{{ dj.airname }}</h3>
    </header>

{% for year, year_sets in sets|groupby('dtstart.year')|sort(reverse=true, attribute="dtstart.year") %}
<details><summary id="year_{{ year }}">{{ year }}</summary>
    <ul id="year_{{ year }}_data">
        {%- for set in year_sets %}
        <li><a href="{{ url_for('playlists.playlist', set_id=set.id) }}"><time datetime="{{ set.dtstart|isodatetime }}" data-format="YYYY-MM-DD HH:mm">{{ set.dtstart|datetime("%Y-%m-%d %H:%M") }}</time>{% if set.dtend %}-<time datetime="{{ set.dtend|isodatetime }}" data-format="YYYY-MM-DD HH:mm">{{ set.dtend|datetime("%Y-%m-%d %H:%M") }}</time>{% endif %}</a></li>
        {%- endfor %}
    </ul></details>
{%- endfor %}
</section>

<section>
    <header>
        <h2>Charts</h2>
    </header>

    <ul>
        <li><a href="{{ url_for('playlists.charts_albums_dj', dj_id=dj.id) }}">Top albums for this DJ</a></li>
        <li><a href="{{ url_for('playlists.charts_artists_dj', dj_id=dj.id) }}">Top artists for this DJ</a></li>
        <li><a href="{{ url_for('playlists.charts_tracks_dj', dj_id=dj.id) }}">Top tracks for this DJ</a></li>
    </ul>
</section>
{% endblock %}
