{% extends "base.html" %}
{% block title %}Playlist Archive (by date) - {{ super() }}{% endblock %}

{% block content %}
<section>
<header>
    <h2>Playlist Archive (by date)</h2>
</header>

<section>
    <noscript>Sorry, but you need to enable JavaScript to use the date
    picker.</noscript>

    <div id="playlists_by_date">
    </div>

    <form id="date_jump_form">
        <input type="text" name="date" id="date_entry" value="" placeholder="yyyy-mm-dd" />
        <button type="submit">Jump to Date</button>
    </form>
</section>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/playlists_by_date_init.js') }}"></script>
{% endblock %}
