{% extends "base.html" %}
{% block title %}{{ date|datetime("%Y-%m-%d") }} - Playlist Archive (by date) - {{ super() }}{% endblock %}

{% block content %}
<section>
<header>
    <h2>Playlist Archive (by date)</h2>
    <h3>{{ date|datetime("%Y-%m-%d") }}</h3>
</header>

<section>
    <ul>
        {% for set in sets %}
        <li><a href="{{ url_for('playlist', set_id=set.id) }}">{{ set.dtstart|datetime("%H:%S") }}-{% if set.dtend %}{{ set.dtend|datetime("%H:%S") }}{% endif %}: {{ set.dj.airname }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
