{% extends "base.html" %}
{% block title %}Playlist Archive (by date) - {{ super() }}{% endblock %}

{% block content %}
<section>
<hgroup>
    <h2>Playlist Archive (by date)</h2>
</hgroup>

<section>
    <noscript>Sorry, but you need to enable JavaScript to use the date
    picker.</noscript>
    <div id="datepicker"></div>
</section>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script>
// <![CDATA[
$('#datepicker').datepicker({
    'dateFormat': "yy/mm/dd",
    'minDate': "2007/01/01",
    'maxDate': 0,
    'changeMonth': true,
    'changeYear': true,
    'prevText': "«",
    'nextText': "»",
    'onSelect': function(dt) {
        window.location = "/playlists/date/" + dt;
    },
});
// ]]>
</script>
{% endblock %}
