{% set active_menu = "playlists_date" %}
{% extends "base.html" %}
{% block title %}Playlist Archive (by date) - {{ super() }}{% endblock %}

{% block content %}
<section>
    <header>
        <h2>Playlist Archive (by date)</h2>
    </header>

    <noscript>
        <p>Our default playlist history viewer requires JavaScript, but you can <a href="{{ url_for('.playlists_date_sets', year=today.year, month=today.month, day=today.day) }}">browse by day</a> instead.</p>
    </noscript>

    <div id="playlists_by_date">
    </div>

<section>
    <header>
        <h2>Jump to a Date</h2>
    </header>

    <form id="date_jump_form">
        <input type="date" name="date" id="date_entry" value="" placeholder="yyyy-mm-dd" />
        <button type="submit">Jump to Date</button>
    </form>
</section>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/playlists_by_date_init.js', v=1) }}"></script>
{% endblock %}
