<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>{% if page_title %}{{ page_title }} &ndash; {% endif %}WUVT Mission Control</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}" />

        <link rel="shortcut icon"
            href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <link rel="apple-touch-icon"
            href="{{ url_for('static', filename='img/icon.png') }}" />
    </head>
    <body{% block bodyattrib %}{% endblock %}>
        {% block header %}
        <header class="navbar navbar-default navbar-static-top" role="banner">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('donate.missioncontrol_index') }}">WUVT Mission Control</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    {% block nav_admin_index %}<li><a href="{{ url_for('donate.missioncontrol_index') }}">Home</a></li>{% endblock %}
                    <li><a href="{{ url_for('auth.logout') }}">
                        <span class="glyphicon glyphicon-off"></span>
                        Logout</a></li>
                </ul>
            </nav>
        </header>
        {% endblock %}

<div class="container">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ msg }}
    </div>
    {% endfor %}

{% block content %}
{% endblock %}
</div>

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
    </body>
</html>
