DEBUG = False
SQLALCHEMY_DATABASE_URI = ''
SECRET_KEY = ''
REDIS_URL = 'redis://localhost:6379'
REDIS_CHANNEL = "wuvt"
POSTS_PER_PAGE = 5

STATION_NAME = "WUVT-FM 90.7 Blacksburg, VA"
STATION_URL = "http://www.wuvt.vt.edu"
NAV_TOP_SECTIONS = [
    {'menu': 'about',
     'name': 'About',
     'slug': 'wuvt'},
    {'menu': 'community',
     'name': 'Community'},
    {'menu': 'playlists',
     'name': 'Playlists'},
    {'menu': 'shows',
     'name': 'Shows'},
    {'menu': 'contact',
     'name': 'Contact'},
    {'menu': 'hidden',
     'name': 'Hidden',
     'hidden': True},
]

# DJ activity timer for automation/DJ logout in seconds
DJ_TIMEOUT = 15 * 60
EXTENDED_DJ_TIMEOUT = 60 * 60

CELERY_BROKER_URL = REDIS_URL
CELERY_RESULT_BACKEND = REDIS_URL
CELERY_TIMEZONE = 'America/New_York'

AUTOMATION_PASSWORD = ""
ICECAST_ADMIN = "http://user:password@engine.wuvt.vt.edu:8000/admin/"
ICECAST_MOUNTS = ['/wuvt-hq.ogg', '/wuvt.ogg', '/wuvt-lb.ogg', '/wuvt-hq.aac',
                  '/wuvt.aac', '/wuvt-lb.aac']
INTERNAL_IPS = ['192.168.0.0/16']
TRACKMAN_NAME = "WUVT-FM"

ARCHIVE_BASE_URL = "https://archive.org/details/WUVTFM_"

ADMINS = ['WUVT-IT@listserv.vt.edu']
MAIL_FROM = "noreply@wuvt.vt.edu"
SMTP_SERVER = "localhost"

TUNEIN_PARTNERID = ""
TUNEIN_PARTNERKEY = ""
TUNEIN_STATIONID = ""

LASTFM_APIKEY = ""
LASTFM_SECRET = ""
LASTFM_USERNAME = "wuvtfm"
LASTFM_PASSWORD = ""

MIN_PASSWORD_LENGTH = 8
LDAP_AUTH = True
LDAP_URI = 'ldap://127.0.0.1:389'
LDAP_STARTTLS = True
LDAP_BASE_DN = "dc=wuvt,dc=vt,dc=edu"
LDAP_AUTH_DN = "uid={},ou=Users,dc=wuvt,dc=vt,dc=edu"
LDAP_GROUPS_ADMIN = ['sudoers', 'webmasters']
LDAP_GROUPS_RADIOTHON = ['sudoers', 'missioncontrol']

UPLOAD_DIR = "/srv/http/media"

RADIOTHON = False
# vim: syntax=python
