DEBUG = False
SQLALCHEMY_DATABASE_URI = ''
SECRET_KEY = ''
REDIS_CHANNEL = "wuvt"
POSTS_PER_PAGE = 5

STATION_NAME = "WUVT-FM 90.7 Blacksburg, VA"
STATION_URL = "http://www.wuvt.vt.edu"
AUTOMATION_PASSWORD = ""
ICECAST_ADMIN = "http://user:password@engine.wuvt..vt.edu:8000/admin/"
ICECAST_MOUNTS = ['/wuvt-hq.ogg', '/wuvt.ogg', '/wuvt-lb.ogg', '/wuvt-hq.aac',
                  '/wuvt.aac', '/wuvt-lb.aac']
INTERNAL_IPS = ['192.168.0.0/16']
TRACKMAN_NAME = "WUVT-FM"

ADMINS = ['WUVT-IT@listserv.vt.edu']
MAIL_FROM = "noreply@wuvt.vt.edu"
SMTP_SERVER = "localhost"

TUNEIN_PARTNERID = ""
TUNEIN_PARTNERKEY = ""
TUNEIN_STATIONID = ""

LASTFM_APIKEY = ""
LASTFM_SECRET = ""
LASTFM_USERNAME = "wuvtfm"
LASTFM_PASSWORD = ""
