DEBUG = False
SECRET_KEY = ''
#SESSION_COOKIE_SECURE = True
#CSRF_COOKIE_SECURE = True

SQLALCHEMY_DATABASE_URI = ''
REDIS_URL = 'redis://localhost:6379'
REDIS_CHANNEL = "wuvt"
POSTS_PER_PAGE = 5
ARTISTS_PER_PAGE = 500

STATION_NAME = "WUVT-FM 90.7 Blacksburg, VA"
STATION_URL = "http://www.wuvt.vt.edu"
NAV_TOP_SECTIONS = [
    {'menu': 'about',
     'name': 'About',
     'slug': 'wuvt'},
    {'menu': 'community',
     'name': 'Community'},
    {'menu': 'playlists',
     'name': 'Playlists'},
    {'menu': 'shows',
     'name': 'Shows'},
    {'menu': 'contact',
     'name': 'Contact'},
    {'menu': 'hidden',
     'name': 'Hidden',
     'hidden': True},
]

# DJ activity timer for automation/DJ logout in seconds
DJ_TIMEOUT = 30 * 60
EXTENDED_DJ_TIMEOUT = 120 * 60
NO_DJ_TIMEOUT = 15 * 60

CELERY_BROKER_URL = REDIS_URL
CELERY_RESULT_BACKEND = REDIS_URL
CELERY_TIMEZONE = 'America/New_York'

AUTOMATION_PASSWORD = ""
ICECAST_ADMIN = "http://user:password@engine.wuvt.vt.edu:8000/admin/"
ICECAST_MOUNTS = ['/wuvt-hq.ogg', '/wuvt.ogg', '/wuvt-lb.ogg', '/wuvt-hq.aac',
                  '/wuvt.aac', '/wuvt-lb.aac']
INTERNAL_IPS = ['192.168.0.0/16']
TRACKMAN_NAME = "WUVT-FM"
TRACKMAN_ARTIST_BLACKLIST = ["?"]
TRACKMAN_LABEL_BLACKLIST = ["same"]

ARCHIVE_BASE_URL = "https://archive.org/details/WUVTFM_"

ADMINS = ['WUVT-IT@listserv.vt.edu']
MAIL_FROM = "noreply@wuvt.vt.edu"
SMTP_SERVER = "localhost"

TUNEIN_PARTNERID = ""
TUNEIN_PARTNERKEY = ""
TUNEIN_STATIONID = ""

LASTFM_APIKEY = ""
LASTFM_SECRET = ""
LASTFM_USERNAME = "wuvtfm"
LASTFM_PASSWORD = ""

MIN_PASSWORD_LENGTH = 8
LDAP_AUTH = True
LDAP_URI = 'ldap://127.0.0.1:389'
LDAP_STARTTLS = True
LDAP_BASE_DN = "dc=wuvt,dc=vt,dc=edu"
LDAP_AUTH_DN = "uid={},ou=Users,dc=wuvt,dc=vt,dc=edu"
LDAP_GROUPS_ADMIN = ['sudoers', 'webmasters']
LDAP_GROUPS_BUSINESS = ['sudoers']
LDAP_GROUPS_LIBRARY = ['sudoers', 'librarians']
LDAP_GROUPS_RADIOTHON = ['sudoers', 'missioncontrol']

UPLOAD_DIR = "/srv/http/media"

RADIOTHON = False

STRIPE_NAME = "WUVT"
STRIPE_DESCRIPTION = "WUVT Donation"
STRIPE_SECRET_KEY = ""
STRIPE_PUBLIC_KEY = ""
DONATE_PREMIUMS = True
DONATE_SHIPPING_MINIMUM = 10
DONATE_SHIPPING_COST = 6
DONATE_TSHIRTSIZES = ['S', 'M', 'L', 'XL', 'XXL']
DONATE_TSHIRTCOLORS = ['Orange', 'Black', 'Kiwi', 'Berry']
DONATE_SWEATSHIRTSIZES = DONATE_TSHIRTSIZES
# vim: syntax=python
