body.page-signin {
    padding-top: 60px;
    background-color: #eee;
}

form.form-signin,
div.trackman-buttons {
    margin: 0 auto 20px;
    padding: 19px 29px 29px;
    max-width: 300px;
    border: 1px solid #e5e5e5;
    background-color: #fff;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

td.row-options {
    text-align: right;
}

.blue {
    color: blue;
}
.green {
    color: green;
}
.red {
    color: red;
}

.trackman-header h1 {
    font-size: 28px;
    margin: 4px 0;
    max-height: 123px;
    overflow: hidden;
}

.row-table {
    height: 240px;
    overflow-y: auto;
}

.lookup-controls div.checkbox:not(:first-child) label:before {
    content: " - ";
}

/* These have to be hardcoded to handle nasty length fields */
.playlist-actions {
    min-width: 100px;
}
.queue-actions {
    min-width: 100px;
}
.search-actions {
    min-width: 133px;
}
