body.page-signin {
    padding-top: 60px;
    background-color: #eee;
}

/* Login page logo {{{ */
body.page-signin h1 {
    position: relative;
    margin: 0 auto 20px;
    width: 200px;
    height: 90px;
    text-indent: -9999px;
    opacity: 0.6;
}

body.page-signin h1 a {
    display: block;
    background-image: url('/static/img/logo-1x.png');
    background-size: 200px, 180px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

@media only screen and (min--moz-device-pixel-ratio: 1.5),
        (-o-min-device-pixel-ratio: 3/2),
        (-webkit-min-device-pixel-ratio: 1.5),
        (min-device-pixel-ratio: 1.5) {
    body.page-signin h1 a {
        background-image: url('/static/img/logo-2x.png');
    }
}

body.page-signin h1 span {
    position: absolute;
    display: block;
    color: #000000;
    font-size: 0.4em;
    font-weight: bold;
    text-indent: 0;
}

body.page-signin h1 .sub1 {
    left: 40px;
    bottom: 3px;
}

body.page-signin h1 .sub2 {
    top: 22px;
    right: 0;
}
/* }}} */

form.form-signin,
div.trackman-buttons {
    margin: 0 auto 20px;
    padding: 19px 29px 29px;
    max-width: 300px;
    border: 1px solid #e5e5e5;
    background-color: #fff;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

td.row-options {
    text-align: right;
}

.blue {
    color: blue;
}
.green {
    color: green;
}
.red {
    color: red;
}

.panel-5-columns {
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5;
}

.trackman-header button {
    margin-left: 1em;
}

.trackman-metadata-reminder h4,
.trackman-metadata-reminder p,
.trackman-metadata-reminder ul.list-inline {
    display: inline-block;
}

.trackman-metadata-reminder p {
    margin-right: 5px;
}

.row-table {
    height: 240px;
    overflow-y: auto;
}

.floating-alerts {
    position: fixed;
    top: 70px;
    left: 15px;
    right: 15px;
    z-index: 100;
}

.floating-alerts .alert {
    /* Hide alerts by default; will be shown using JavaScript */
    display: none;
}

/* These have to be hardcoded to handle nasty length fields */
.playlist-actions {
    min-width: 100px;
}
.queue-actions {
    min-width: 100px;
}
.search-actions {
    min-width: 133px;
}

.trackman-entry {
    margin-bottom: 20px;
}

.trackman-queue {
    height: 200px;
}

.trackman-search-results {
    height: 200px;
}
