body {
    background-color: #bee7fd !important; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 20px;
    font-size: small;
}

p, h2, li, a {
    font-family: Arial, Helvetica, sans-serif;
}

.shadow {
    box-shadow: 5px 5px rgba(0,0,0,0.8)
}

.container {
    display: grid;
    grid-template-columns: 30vw 50vw;
}


.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    height: 3vw;
    width: 50vw;
}

.navbar button {
    color: black;
    background-color: white;
    /* border-radius: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-top-style: none;
    border-bottom-style: none; */
    border: none;
    height: 3vw;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #f1f1f1;
}

.dropdown {
    position: relative;
    display: inline-block;
    flex-grow: 1;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.content {
    width: 50vw;
    height: 40vw;
    overflow: scroll;
}

.content > article{
    background-color: white;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin: 20px;
    box-shadow: 5px 5px;
}

.now-playing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

#nowplaying {
    display: grid;
    background-color: #cad5db;
    width: 250px;
    height: 250px;
}

#current_track > .track {
    font-size: larger;
}

#current_track > p {
    margin: 2px;
}

.bttnBig {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    transition-duration: 0.4s;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.bttnBig:hover {
    background-color: #b4b4b4;
    color: #ffffff;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.tracklist {
    border-collapse:collapse;
}

.tracklist > tbody > tr {
    background-color: white;
}

.entry-container {
    display: grid;
}

.entry {
    margin-bottom: 10px;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    height: auto;
    width: auto;

}

.entry > * {
    align-self: center;
}

.entry > p > time {
    font-size: small;
    margin-left: 10px;
}

.entry > .trackandartist {
    margin: 5px;
}

.entry > .trackandartist > p {
    margin: 2px;
}

.entry > .trackandartist > .track > a {
    color: black;
    font-size: larger;
}

.entry > .trackandartist > .artist {
    color: black;
    font-size: smaller;
}

.entry > .dj > a {
    color: black;
}