@font-face {
    font-family: "Homestead Display";
    src: url('/static/fonts/Homestead-Display.woff');
}

/* remove focus outline */
:focus,
::-moz-focus-inner {
    border: 0;
    outline: 0;
}

html {
    min-height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    width: 1024px;
    margin: 0 auto;
    padding: 0;
    background-color: #cfeeff; 
    background-image: url('/static/img/moon.svg');
    background-size: 1200px 42px;
    background-position: bottom center;
    background-repeat: no-repeat;
}

#progress_bar {
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    width: 1%;
    height: 4px;
    background-color: #ec1c23;
}

/* Now playing bar {{{ */
#nowplaying {
    clear: both;
    height: 34px;
    margin: 8px 0 15px 0;
    padding: 8px 50px 8px 16px;
    background-image: url('/static/img/nowplaying_banner_left.svg'), url('/static/img/nowplaying_banner_right.svg');
    background-size: 32px 15px, 52px 34px;
    background-position: 0% 60%, top right;
    background-repeat: no-repeat;
    font-size: 0.8em;
}

#nowplaying ul {
    margin: 0;
    padding: 4px;
    background: #bcccd3;
    list-style: none;
}

#nowplaying li {
    display: inline;
}

#nowplaying li:last-child {
    float: right;
}

#nowplaying strong {
    text-transform: uppercase;
    font-weight: bold;
}

#nowplaying a:link,
#nowplaying a:visited,
#nowplaying a:active {
    color: #000;
    text-decoration: underline;
}
/* }}} */

/* Header: logo and robot {{{ */
header #mainheader h1 {
    position: absolute;
    width: 200px;
    height: 90px;
    text-indent: -9999px;
}

header #mainheader h1 a {
    display: block;
    background: url('/static/img/logo.svg') no-repeat;
    background-size: 200px, 180px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

header #mainheader h1 span {
    position: absolute;
    display: block;
    color: #000000;
    font-size: 0.4em;
    font-weight: bold;
    text-indent: 0;
}

header #mainheader h1 .sub1 {
    left: 40px;
    bottom: 3px;
}

header #mainheader h1 .sub2 {
    top: 22px;
    right: 0;
}

header #mainheader #robot {
    position: relative;
    z-index: 999;
    /*margin-bottom: -86px;
    height: 238px;*/
    margin: 0 0 -64px 200px;
    width: 160px;
    height: 148px;
    border: 0;
    background-color: transparent;
    background-image: url('/static/img/robot.svg');
    background-repeat: no-repeat;
    background-size: 160px, 148px;
}
/* }}} */

/* Header: live stream player {{{ */
header #mainheader button {
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    text-indent: -99999px;
    cursor: pointer;
}

header #mainheader #robot > button {
    position: absolute;
    margin-top: 24px;
    width: 45px;
    height: 45px;
    background-position: 50% 50%;
    border-radius: 30px;
}

header #mainheader #robot #stream_btn {
    margin-left: 39px;
    background-image: url('/static/img/play.svg');
}

header #mainheader #robot button:disabled,
header #mainheader #robot button.disabled {
    opacity: 0.5;

    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

header #mainheader #robot #stream_btn.playing {
    background-image: url('/static/img/stop.svg');
}

header #mainheader #robot #volume_btn {
    margin-left: 93px;
    background-image: url('/static/img/volume.svg');
}

header #mainheader #robot #volume_btn.active {
    background-color: #808080;
    border-radius: 30px 30px 0 0;

    -webkit-transition: all 0.1s ease-in-out;
       -moz-transition: all 0.1s ease-in-out;
         -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;

}

header #mainheader #volume_box {
    position: absolute;
    visibility: hidden;
    z-index: 9999;
    padding: 20px 15px 15px 15px;
    background: #808080;
    opacity: 0;
}

header #mainheader #volume_box button {
    width: 15px;
    height: 15px;
}

header #mainheader #volume_box.visible {
    visibility: visible;
    opacity: 1.0;

    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

header #mainheader #volume_box #volume_slider {
    position: relative;
    background: #aaaaaa;
}

header #mainheader #volume_box #volume_mute_btn {
    margin-top: 12px;
    background-image: url('/static/img/mute.svg');
}

.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.ui-slider-vertical .ui-slider-handle {
    left: -0.2em;
    margin-left: 0;
    margin-bottom: -0.6em;
    background: #ffffff;

    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
         -o-border-radius: 8px;
            border-radius: 8px;
}

/* }}} */

/* Header: speech bubble {{{ */
header #bubble {
    position: absolute;
    margin: -100px 0 0 350px;
    padding: 12px 0 12px 40px;
    width: 520px;
    height: 80px;
    background-image: url('/static/img/bubble.svg');
    background-size: 558px 99px;
    background-repeat: no-repeat;
}

header #bubble ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Homestead Display", "Impact", sans-serif;
    font-size: 0.9em;
}

header #bubble li {
    display: inline-block;
    padding: 0 6px;
    width: 150px;
    font-size: 2.1em;
}

/* make first element in bubble less wide */
header #bubble li:first-child {
    width: 120px;
}

header #bubble li a {
    display: block;
    color: #808080;
    text-decoration: none;
}

header #bubble ul li a:hover,
header #bubble ul li a:active,
header #bubble ul li.active a {
    color: #ff0000;
}
/* }}} */

/* Navigation: common elements {{{ */
nav {
    position: relative;
    z-index: 20;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}
/* }}} */

/* Navigation: top {{{ */
header nav {
    z-index: 9999;
    height: 35px;
    margin: 6px 0 0 0;
    /*padding: 0 0 0 260px;
    font-size: 0.9em;*/
    padding: 0 0 0 180px;

    /* disable wrapping */
    white-space: nowrap;
}

header nav .menu-heading,
header nav li a {
    margin-left: 0px;
    margin-right: 0px;
}

header nav li {
    display: block;
    margin: 0;
    padding: 0;

    /* restore normal wrapping */
    white-space: normal;
}

header nav li .menu-heading {
    cursor: default;
}

header nav li .menu-heading,
header nav li a {
    display: block;
    max-width: 140px;
    padding: 4px 8px;
    background-color: #cccccc;
    font-weight: bold;
}

header nav li a:hover {
    text-decoration: none;
}

header nav > ul {
    position: absolute;
}

header nav > ul > li {
    display: inline-block;
    vertical-align: top;
    margin: 2px 2px 0 2px;
}

header nav ul ul {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

header nav > ul > li:hover > a {
    color: #000000;
}

header nav ul li:hover ul {
    display: block;
    height: auto;
    opacity: 1.0;
    background-color: #808080;

    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

header nav ul li li a {
    display: block;
    background-color: #808080;
}

header nav ul li li a:hover {
    background-color: #aaaaaa;
}

header nav ul ul {
    padding: 6px 0;
}
/* }}} */

/* Navigation: side {{{ */
#side {
    display: block;
    width: 180px;
}

#side #radiothon_banner a {
    display: block;
    margin: 0 0 10px 0;
    padding: 14px;
    font-size: 1.2em;
    background-color: #fff;
    color: #000;
    text-align: center;
    text-decoration: none;
}

#side #radiothon_banner a strong {
    color: #0071BC;
    text-decoration: underline;
}

#side nav li a {
    display: block;
    margin: 0 0 10px 0;
    padding: 14px;
    font-size: 1.2em;
    background-color: #ec1c23;
}

#side nav li.active a {
    text-decoration: underline;
}

#side ul#side_social {
    margin: 12px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#side ul#side_social li {
    display: inline-block;
    padding: 0 6px;
}

#side ul#side_social li img {
    height: 23px;
    border: 0;
}
/* }}} */

/* Navbar and content positioning {{{ */
/* to move nav to right side, uncomment float: right and delete margin-left */

#side {
    /*float: right;*/
    float: left;
}

header #mainheader img,
header nav,
#content {
    margin-left: 200px;
}
/* }}} */

/* the first element in #content needs spacing for robot's tie */
#content > :first-child {
    padding-top: 40px !important;
}

/* Article/section {{{ */
#content > article,
#content > section {
    padding: 20px;
    margin: 0px 0px 60px 0px;
    /*background-color: #bcccd3;
    background-color: rgba(209, 223, 229, 0.5);
    background-color: #DAE5EA; */
    background-color: rgba(255,255,255,0.72);
    border-width: thick;
    border-color: #BCCCD3;
    border-style: solid;
}

#content > article p,
#content > section p {
    /*font-family: serif; */
    margin-bottom: 1.176em;
    line-height: 1.5;
}

#content > article p a,
#content > section p a,
#content > article li a,
#content > section li a {
    color: rgb(0, 113, 188);
    font-weight: bold;
    text-decoration: none;
    border-bottom-style: dashed;
    border-bottom-width: thin;
}

#content > article h2,
#content > section h2 {
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid rgba(188, 204, 211, 0.75);
    font-size: 1.8em;
    font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
    font-weight: 500;
}

#content > article h2 a,
#content > section h2 a {
    color: #000000;
    text-decoration: none;
}

#content > article h3,
#content > section h3 {
    margin: 0px;
    /*padding: 0px;*/
    padding-top: 5px;
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal;
    color: gray;
}

#content > article h3 a,
#content > section h3 a,
body > footer > a {
    color: gray;
    text-decoration: underline;
}

#content > article header,
#content > section header {
    margin-bottom: 25px;
}

#content > article img,
#content > section img {
    float: left;
    margin: 0px 20px 10px 0px;
}

#content > article footer,
#content > section footer {
    clear: both;
    font-style: italic;
    color: #0071BC;
}

#content > article footer a,
#content > section footer a {
    color: #0071BC;
}

#content > article footer span,
#content > section footer span {
    font-weight: bold;
}

#content > article:last-child,
#content > section:last-child {
    margin-bottom: 0px;
}

section.pagination a {
    margin-right: 1em;
    color: #000000;
}

.blink-red {
            animation: blink-red 2s steps(1) infinite;
       -moz-animation: blink-red 2s steps(1) infinite;
    -webkit-animation: blink-red 2s steps(1) infinite;
}

@keyframes blink-red {
    50% { color: #ec1c23; }
}

@-webkit-keyframes blink-red {
    50% { color: #ec1c23; }
}
/* }}} */

/* Track list table {{{ */
table.tracklist {
    width: 100%;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    font-size: 0.8em;
}

table.tracklist thead {
    text-align: left;
}

table.tracklist thead th {
    background: #ffffff;
    font-weight: bold;
}

table.tracklist thead th.dj-column {
    min-width: 9%;
}

table.tracklist thead th.icon-column {
    width: 3%;
}

table.tracklist th,
table.tracklist td {
    padding: 4px;
}

table.tracklist td span {
    margin: 0 auto 0 20%;
}

table.tracklist tr:nth-child(odd) {
    background: #c5d5dc;
}

table.tracklist a:link,
table.tracklist a:visited,
table.tracklist a:active {
    color: #000;
    text-decoration: underline;
}

table.tracklist .glyphicon {
    cursor: default;
}

table.tracklist .new-track {
    color: #ff0000;
}
/* }}} */

/* Donate button {{{ */
a.donate {
    /* it seems these get overwritten by the section/article rules above, so
     * we add !important to avoid that */
    display: inline-block;
    padding: 8px !important;
    border: 0 !important;
    background-color: #ec1c23;
    color: #ffffff !important;
    text-decoration: none !important;
}

a.donate:hover {
    text-decoration: underline !important;
}
/* }}} */

/* Playlists by date {{{ */
#playlists_by_date {
    position: relative;
    height: 500px;
    overflow-y: auto;
}

#playlists_by_date section header {
    margin: 0;
    padding: 2px;
    font-size: 1.1em;
}
/* }}} */

/* Footer {{{ */
#content > :last-child {
    margin-bottom: 50px;
}

body > footer {
    clear: both;
    padding: 15px;
    color: #666666;
    font-size: 0.7em;
    text-align: center;
}
/* }}} */
