@font-face {
    font-family: "Homestead Display";
    src: url('/static/fonts/Homestead-Display.ttf') format('truetype');
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    width: 1024px;
    margin: auto;
    padding: 0px;
    background-color: #cfeeff;
}

/* Now playing bar {{{ */
#nowplaying {
    clear: both;
    height: 34px;
    margin: 8px 0 15px 0;
    padding: 8px 50px 8px 16px;
    background-image: url('/static/img/nowplaying_banner_left.svg'), url('/static/img/nowplaying_banner_right.svg');
    background-size: 32px 15px, 52px 34px;
    background-position: 0% 60%, top right;
    background-repeat: no-repeat;
    font-size: 0.8em;
}

#nowplaying ul {
    margin: 0;
    padding: 4px;
    background: #bcccd3;
    list-style: none;
}

#nowplaying li {
    display: inline;
}

#nowplaying li:last-child {
    float: right;
}

#nowplaying strong {
    text-transform: uppercase;
    font-weight: bold;
}
/* }}} */

header hgroup h1 {
    position: absolute;
    width: 200px;
    height: 90px;
    text-indent: -9999px;
}

header hgroup h1 a {
    display: block;
    background: url('/static/img/logo.png') no-repeat;
    width: 100%;
    height: 100%;
}

header hgroup h1 a:hover {
    background-position: 0 -90px;
}

header hgroup img:last-child {
    position: absolute:
    z-index: 9999;
    /*margin-bottom: -86px;
    height: 238px;*/
    margin-bottom: -67px;
    width: 160px;
    height: 148px;
}

/* Header: speech bubble {{{ */
header hgroup#bubble {
    position: absolute;
    margin: -100px 0 0 350px;
    padding: 12px 0 12px 40px;
    width: 520px;
    height: 80px;
    background-image: url('/static/img/bubble.svg');
    background-size: 558px 99px;
    background-repeat: no-repeat;
}

header hgroup#bubble ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Homestead Display", "Impact", sans-serif;
    font-size: 0.9em;
}

header hgroup#bubble li {
    display: inline-block;
    padding: 0 6px;
    width: 150px;
    font-size: 2.1em;
}

/* make first element in bubble less wide */
header hgroup#bubble li:first-child {
    width: 120px;
}

header hgroup#bubble li a {
    display: block;
    color: #808080;
    text-decoration: none;
}

header hgroup#bubble ul li a:hover {
    color: #ff0000;
}
/* }}} */

/* Navigation: common elements {{{ */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}
/* }}} */

/* Navigation: top {{{ */
header nav {
    z-index: 9999;
    /*height: 35px;*/
    height: 35px;
    margin: 6px 0 0 0;
    /*padding: 0 0 0 260px;
    font-size: 0.9em;*/
    padding: 0 0 0 180px;
}

header nav a {
    margin-left: 0px;
    margin-right: 0px;
}

header nav li {
    display: inline-block;
    margin: 2px 2px 0 2px;
    padding: 0;
    background-color: #cccccc;
    font-weight: bold;
}

header nav li a {
    display: block;
    padding: 4px 12px;
}
/* }}} */

/* Navigation: side {{{ */
#side {
    display: block;
    width: 180px;
}

#side nav li a {
    display: block;
    margin: 10px 0px 0px 0px;
    padding: 14px;
    font-size: 1.2em;
    background-color: #ec1c23;
}

#side ul#side_social {
    margin: 12px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#side ul#side_social li {
    display: inline-block;
    padding: 0 6px;
}

#side ul#side_social li img {
    height: 25px;
}
/* }}} */

/* Navbar and content positioning {{{ */
/* to move nav to right side, uncomment flot: right and delete margin-left */

#side {
    /*float: right;*/
    float: left;
}

header #mainheader img,
header nav,
#content {
    margin-left: 200px;
}
/* }}} */

/* the first element in #content needs spacing for robot's tie */
#content > :first-child {
    padding-top: 40px !important;
}

article {
    padding: 20px;
    margin: 0px 0px 60px 0px;
    background-color: #bcccd3;
}
article h1 {
    margin: 0px;
    padding: 0px;
    font-size: 1.8em;
}
article h2 {
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal;
}
article hr {
    margin: 0px;
    border: 1px solid #ffffff;
}
article hgroup {
    margin-bottom: 25px;
}
article img {
    float: left;
    margin: 0px 20px 10px 0px;
}
article footer {
    font-style: italic;
    color: #ffffff;
}
article footer a {
    color: #ffffff;
}
article footer span {
    font-weight: bold;
}
article:last-child {
    margin-bottom: 0px;
}

/* Footer {{{ */
#content > :last-child {
    padding-bottom: 40px;
}

body > footer {
    clear: both;
    margin-top: -15px;
    height: 30px;
    background-image: url('/static/img/moon.svg');
    background-size: 796px 42px;
    background-position: top center;
    background-repeat: no-repeat;
}
/* }}} */
