@font-face {
    font-family: "Homestead Display";
    src: url('/static/fonts/Homestead-Display.woff');
}

/* remove focus outline */
:focus,
::-moz-focus-inner {
    border: 0;
    outline: 0;
}

html {
    min-height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    width: 1024px;
    margin: 0 auto;
    padding: 0;
    background-color: #cfeeff; 
    background-image: url('/static/img/moon.svg');
    background-size: 1200px 42px;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* Now playing bar {{{ */
#nowplaying {
    clear: both;
    height: 34px;
    margin: 8px 0 15px 0;
    padding: 8px 50px 8px 16px;
    background-image: url('/static/img/nowplaying_banner_left.svg'), url('/static/img/nowplaying_banner_right.svg');
    background-size: 32px 15px, 52px 34px;
    background-position: 0% 60%, top right;
    background-repeat: no-repeat;
    font-size: 0.8em;
}

#nowplaying ul {
    margin: 0;
    padding: 4px;
    background: #bcccd3;
    list-style: none;
}

#nowplaying li {
    display: inline;
}

#nowplaying li:last-child {
    float: right;
}

#nowplaying strong {
    text-transform: uppercase;
    font-weight: bold;
}
/* }}} */

/* Header: logo and robot {{{ */
header #mainheader h1 {
    position: absolute;
    width: 200px;
    height: 90px;
    text-indent: -9999px;
}

header #mainheader h1 a {
    display: block;
    background: url('/static/img/logo.svg') no-repeat;
    background-size: 200px, 180px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

header #mainheader h1 span {
    position: absolute;
    display: block;
    color: #000000;
    font-size: 0.4em;
    font-weight: bold;
    text-indent: 0;
}

header #mainheader h1 .sub1 {
    left: 40px;
    bottom: 3px;
}

header #mainheader h1 .sub2 {
    top: 22px;
    right: 0;
}

header #mainheader #robot {
    z-index: 999;
    /*margin-bottom: -86px;
    height: 238px;*/
    margin-bottom: -68px;
    width: 160px;
    height: 148px;
    border: 0;
}
/* }}} */

/* Header: live stream player {{{ */
header #mainheader > button {
    position: absolute;
    z-index: 9999;
    margin-top: 39px;
}

header #mainheader button {
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    border: 0;
    text-indent: -99999px;
}

header #mainheader #stream_btn {
    margin-left: -106px;
    background-image: url('/static/img/play.svg');
}

header #mainheader #stream_btn:disabled {
    opacity: 0.5;

    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

header #mainheader #stream_btn.playing {
    background-image: url('/static/img/stop.svg');
}

header #mainheader #volume_btn {
    margin-left: -51px;
    background-image: url('/static/img/volume.svg');
}

header #mainheader #volume_box {
    position: absolute;
    padding: 20px 12px 12px 12px;
    background: #808080;
    opacity: 0;
}

header #mainheader #volume_box.visible {
    opacity: 1.0;

    -webkit-transition: opacity 0.2s ease-in-out;
       -moz-transition: opacity 0.2s ease-in-out;
         -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
}

header #mainheader #volume_box #volume_slider {
    position: relative;
    background: #aaaaaa;
}

header #mainheader #volume_box #volume_mute_btn {
    margin-top: 12px;
    background-image: url('/static/img/mute.svg');
}

.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.ui-slider-vertical .ui-slider-handle {
    left: -0.2em;
    margin-left: 0;
    margin-bottom: -0.6em;
    background: #ffffff;

    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
         -o-border-radius: 8px;
            border-radius: 8px;
}

/* }}} */

/* Header: speech bubble {{{ */
header #bubble {
    position: absolute;
    margin: -100px 0 0 350px;
    padding: 12px 0 12px 40px;
    width: 520px;
    height: 80px;
    background-image: url('/static/img/bubble.svg');
    background-size: 558px 99px;
    background-repeat: no-repeat;
}

header #bubble ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Homestead Display", "Impact", sans-serif;
    font-size: 0.9em;
}

header #bubble li {
    display: inline-block;
    padding: 0 6px;
    width: 150px;
    font-size: 2.1em;
}

/* make first element in bubble less wide */
header #bubble li:first-child {
    width: 120px;
}

header #bubble li a {
    display: block;
    color: #808080;
    text-decoration: none;
}

header #bubble ul li a:hover,
header #bubble ul li a:active,
header #bubble ul li.active a {
    color: #ff0000;
}
/* }}} */

/* Navigation: common elements {{{ */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}
/* }}} */

/* Navigation: top {{{ */
header nav {
    z-index: 9999;
    height: 35px;
    margin: 6px 0 0 0;
    /*padding: 0 0 0 260px;
    font-size: 0.9em;*/
    padding: 0 0 0 180px;

    /* disable wrapping */
    white-space: nowrap;
}

header nav a {
    margin-left: 0px;
    margin-right: 0px;
}

header nav li {
    display: block;
    margin: 0;
    padding: 0;

    /* restore normal wrapping */
    white-space: normal;
}

header nav li a {
    display: block;
    max-width: 140px;
    padding: 4px 8px;
    background-color: #cccccc;
    font-weight: bold;
}

header nav li a:hover {
    text-decoration: none;
}

header nav > ul {
    position: absolute;
}

header nav > ul > li {
    display: inline-block;
    vertical-align: top;
    margin: 2px 2px 0 2px;
}

header nav ul ul {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

header nav > ul > li:hover > a {
    color: #000000;
}

header nav ul li:hover ul {
    display: block;
    height: auto;
    opacity: 1.0;
    background-color: #808080;

    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

header nav ul li li a {
    display: block;
    background-color: #808080;
}

header nav ul li li a:hover {
    background-color: #aaaaaa;
}

header nav ul ul {
    padding: 6px 0;
}
/* }}} */

/* Navigation: side {{{ */
#side {
    display: block;
    width: 180px;
}

#side nav li a {
    display: block;
    margin: 0 0 10px 0;
    padding: 14px;
    font-size: 1.2em;
    background-color: #ec1c23;
}

#side nav li.active a {
    text-decoration: underline;
}

#side ul#side_social {
    margin: 12px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#side ul#side_social li {
    display: inline-block;
    padding: 0 6px;
}

#side ul#side_social li img {
    height: 23px;
    border: 0;
}
/* }}} */

/* Navbar and content positioning {{{ */
/* to move nav to right side, uncomment float: right and delete margin-left */

#side {
    /*float: right;*/
    float: left;
}

header #mainheader img,
header nav,
#content {
    margin-left: 200px;
}
/* }}} */

/* the first element in #content needs spacing for robot's tie */
#content > :first-child {
    padding-top: 40px !important;
}

/* Article/section {{{ */
article,
section {
    padding: 20px;
    margin: 0px 0px 60px 0px;
  /*  background-color: #bcccd3;
		background-color: rgba(209, 223, 229, 0.5);
		background-color: #DAE5EA; */
		background-color: rgba(255,255,255,0.72);
		border-width: thick;
		border-color: #BCCCD3;
		border-style: solid;
}

article p,
section p {
/*		font-family: serif; */
		margin-bottom: 1.176em;
		line-height: 1.5;
}


article p a,
section p a,
article li a,
section li a {
		color: rgb(0, 113, 188);
		font-weight: bold;
		text-decoration: none;
		border-bottom-style: dashed;
		border-bottom-width: thin;
}


article h2,
section h2 {
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid rgba(188, 204, 211, 0.75);
    font-size: 1.8em;
		font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
		font-weight: 500;
}

article h3,
section h3 {
    margin: 0px;
    /*padding: 0px;*/
		padding-top: 5px;
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal;
		color: gray;
}

article h2 a {
    color: #000000;
    text-decoration: none;
}

article hgroup,
section hgroup {
    margin-bottom: 25px;
}

article img,
section img {
    float: left;
    margin: 0px 20px 10px 0px;
}

article footer,
section footer {
    clear: both;
    font-style: italic;
    color: #0071BC;
}

article footer a,
section footer a {
    color: #0071BC;
}

article footer span,
section footer span {
    font-weight: bold;
}

article:last-child,
section:last-child {
    margin-bottom: 0px;
}

section.pagination a {
    margin-right: 1em;
    color: #000000;
}
/* }}} */

/* Track list table {{{ */
table.tracklist {
    width: 100%;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    font-size: 0.8em;
}

table.tracklist thead th {
    background: #ffffff;
    font-weight: bold;
}

table.tracklist th,
table.tracklist td {
    padding: 4px;
}

table.tracklist tr:nth-child(odd) {
    background: #c5d5dc;
}
/* }}} */

/* Donate button {{{ */
a.donate {
    display: inline-block;
    padding: 8px;
    border: 0;
    background-color: #ec1c23;
    color: #ffffff;
    text-decoration: none;
}

a.donate:hover {
    text-decoration: underline;
}
/* }}} */

/* Date picker {{{ */
.ui-datepicker {
    width: 17em;
    padding: 0;
    border: 1px solid #ffffff;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.2em 0;
    background: #ffffff;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
    color: #777777;
    cursor: pointer;
}

.ui-datepicker-prev { left: 2px; }
.ui-datepicker-next { right: 2px; }

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
    color: #000000;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.98em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%;
}

.ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 0.4em;
    font-size: 0.9em;
}

.ui-datepicker th {
    padding: 0.7em 0.3em;
    border: 0;
    background: #ffffff;
    text-align: center;
    font-weight: bold;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0em;
}

.ui-datepicker .ui-state-active {
    background: #ffffff;
}
/* }}} */

/* Footer {{{ */
#content > :last-child {
    margin-bottom: 50px;
}

body > footer {
    clear: both;
    color: #666666;
    font-size: 0.7em;
    text-align: center;
}
/* }}} */
