{% extends "admin/base.html" %}
{% set page_title="Login" %}
{% block bodyattrib %} class="page-signin"{% endblock %}
{% block header %}{% endblock %}

{% block content %}
{% for msg in errors %}
<div class="alert alert-danger">{{ msg }}</div>
{% endfor %}

<form action="{{ url_for('auth.login') }}" method="post" class="form-signin">
    <h1>
        <a href="{{ url_for('index') }}" title="{{ config.STATION_NAME }}">
            WUVT
            <span class="sub1">radio for everyone</span>
            <span class="sub2">90.7 fm</span>
        </a>
    </h1>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group">
        <input type="hidden" name="next" value="{{ next }}" />

        <input type="text" name="username" id="id_username" value=""
            placeholder="Username" class="form-control" />

        <input type="password" name="password" id="id_password" value=""
            placeholder="Password" class="form-control" />
    </div>

    <button class="btn btn-primary btn-block btn-lg" type="submit">
        <span class="glyphicon glyphicon-log-in"></span>
        Login
    </button>
</form>
{% endblock %}
