{% extends "admin/base.html" %}
{% set page_title="Articles" %}
{% block nav_admin_articles %}<li class="active"><a href="{{ url_for('admin.articles') }}">Articles</a></li>{% endblock %}

{% block content %}
<h1>Articles</h1>

<table class="table table-striped table-hover">
    <tr><strong>
        <th>Title</th>
        <th>Author</th>
        <th>Slug</th>
        <th>Published</th>
        <th>Time</th>
        <th>Actions</th>
    </strong>
    </tr>
    {% for article in articles %}
    <tr data-edit-url="{{ url_for('admin.article_edit', art_id=article.id) }}">
        <td>{{ article.title }}</td>
        <td>{{ article.author.name }}</td>
        <td>{{ article.slug }}</td>
        <td>{{ article.published }}</td>
        <td>{{ article.datetime }}</td>
        <td class="row-options">
            <a href="{{ url_for('admin.article_edit', art_id=article.id) }}" class="btn btn-default btn-sm">Edit</a>
            <a href="{{ url_for('admin.article_draft', art_id=article.id) }}" class="btn btn-default btn-sm">Preview</a>
            <button class="btn btn-danger btn-sm delete-button">Delete</button>

        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="6">
            <a href="{{ url_for('admin.article_add') }}" class="btn btn-primary">Create New Article</a>
        </td>
    </tr>
</table>
{% endblock %}
{% block js %}
{{ super() }}
<script src="{{ url_for('admin.articles_js') }}"></script>
{% endblock %}
