{% extends "admin/base.html" %}
{% set page_title="Categories" %}
{% block nav_admin_categories %}<li class="active"><a href="{{ url_for('admin.categories') }}">Categories</a></li>{% endblock %}

{% block content %}
<h1>Categories</h1>

<table class="table table-striped table-hover">
    <tr><strong>
        <th>Title</th>
        <th>Slug</th>
        <th>Published</th>
        <th>Actions</th>
    </strong>
    </tr>
    {% for cat in categories %}
    <tr data-edit-url="{{ url_for('admin.category_edit', cat_id=cat.id) }}">
        <td>{{ cat.name }}</td>
        <td>{{ cat.slug }}</td>
        <td>{{ cat.published }}</td>
        <td class="row-options">
            <a href="{{ url_for('admin.category_edit', cat_id=cat.id) }}" class="btn btn-default btn-sm">Edit</a>
            <button class="btn btn-danger btn-sm delete-button">Delete</button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="4">
            <a href="{{ url_for('admin.category_add') }}" class="btn btn-primary">Add New Category</a>
        </td>
    </tr>
</table>
{% endblock %}
{% block js %}
{{ super() }}
<script src="{{ url_for('admin.categories_js') }}"></script>
{% endblock %}
