{% extends "admin/base.html" %}
{% set page_title="Charts" %}
{% block nav_admin_charts %}<li class="active"><a href="{{ url_for('admin.charts_index') }}">Charts</a></li>{% endblock %}

{% block content %}
<h1>Charts: BMI Report</h1>

<p>These dates are inclusive; there is no need to add or subtract days.</p>

<form action="{{ url_for('admin.charts_bmi') }}" method="post"
    class="form-horizontal" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
 

    <div class="form-group{% if 'start' in error_fields %} has-error{% endif %}">
        <label for="id_dtstart" class="col-sm-3 control-label">Start</label>
        <div class="col-sm-9">
            <input type="date" name="dtstart" id="id_dtstart" value=""
                required="required" placeholder="YYYY-MM-DD"
                class="form-control" />
        </div>
    </div>

    <div class="form-group{% if 'end' in error_fields %} has-error{% endif %}">
        <label for="id_dtend" class="col-sm-3 control-label">End</label>
        <div class="col-sm-9">
            <input type="date" name="dtend" id="id_dtend" value=""
                required="required" placeholder="YYYY-MM-DD"
                class="form-control" />
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span>
            Generate BMI Report
        </button>

        <a href="{{ url_for('admin.charts_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
        </a>
    </div>
</form>
{% endblock %}
