{% extends "admin/base.html" %}
{% set page_title="Charts" %}
{% block nav_admin_charts %}<li class="active"><a href="{{ url_for('admin.charts_index') }}">Charts</a></li>{% endblock %}

{% block content %}
<h1>Charts</h1>

<p>Most of the charts are public facing and can be viewed
<a href="{{ url_for('trackman.charts_index') }}">directly on the website</a>.
This section includes some additional charts which may be necessary to ensure
compliance with station policies and licensing.</p>

<ul>
    <li><a href="{{ url_for('admin.charts_bmi') }}">BMI Report</a></li>
</ul>
{% endblock %}
