{% extends "admin/base.html" %}
{% set page_title="Album: " + artist + " - " + album %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('admin.library_index') }}">Library</a></li>
    <li><a href="{{ url_for('admin.library_artist', artist=artist) }}">{{ artist }}</a></li>
    <li class="active">{{ album }}</li>
</ol>

<h1>Album: {{ artist }} - {{ album }}</h1>

<ul>
    {% for track in tracks -%}
    <li><a href="{{ url_for('admin.library_track', id=track.id) }}">{{ track.title }}</a></li>
    {% endfor -%}
</ul>
{% endblock %}
