{% import "admin/macros.html" as macros %}
{% extends "admin/base.html" %}
{% set page_title="Library" %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('admin.library_djs') }}">Library</a></li>
    <li class="active">DJ: {{ dj.airname }}</li>
</ol>

<h1>DJ: {{ dj.airname }}</h1>

<dl>
    <dt>Name:</dt>
    <dd>{{ dj.name }}</dd>

    {% if dj.phone is not none %}
    <dt>Phone Number:</dt>
    <dd>{{ dj.phone }}</dd>
    {% endif %}

    {% if dj.email is not none %}
    <dt>Email Address:</dt>
    <dd><a href="mailto:{{ dj.email }}">{{ dj.email }}</a></dd>
    {% endif %}
</dl>

{{ macros.render_pagination(tracks, 'admin.library_dj', id=dj.id) }}
{{ macros.library_tracklist(tracks.items) }}
{{ macros.render_pagination(tracks, 'admin.library_dj', id=dj.id) }}
{% endblock %}
