{% import "admin/macros.html" as macros %}
{% extends "admin/base.html" %}
{% set page_title="Library" %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('admin.library_djs') }}">Library</a></li>
    <li class="active">DJ: {{ dj.airname }}</li>
</ol>

<h1>DJ: {{ dj.airname }}</h1>

{{ macros.render_pagination(tracks, 'admin.library_dj', id=dj.id) }}

<table class="table table-striped table-hover">
    <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Album</th>
        <th>Label</th>
    </tr>

    {% for tracklog in tracks.items -%}
    <tr>
        <td><a href="{{ url_for('admin.library_artist', artist=tracklog.track.artist) }}">{{ tracklog.track.artist }}</a></td>
        <td><a href="{{ url_for('admin.library_track', id=tracklog.track.id) }}">{{ tracklog.track.title }}</a></td>
        <td>{{ tracklog.track.album }}</td>
        <td>{{ tracklog.track.label }}</td>
    </tr>
    {% endfor -%}
</table>

{{ macros.render_pagination(tracks, 'admin.library_dj', id=dj.id) }}
{% endblock %}
