{% extends "admin/base.html" %}
{% set page_title="Artist: " + artist %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('admin.library_index') }}">Library</a></li>
    <li class="active">{{ artist }}</li>
</ol>

<h1>Artist: {{ artist }}</h1>

<ul>
    {% for album, tracks in albums -%}
    <li>
        <strong>{{ album }}</strong>
        <ul>
            {% for track in tracks -%}
            <li><a href="{{ url_for('admin.library_track', id=track.id, from='artist') }}">{{ track.title }}</a></li>
            {% endfor -%}
        </ul>
    </li>
    {% endfor -%}
</ul>
{% endblock %}
