{% extends "admin/base.html" %}
{% set page_title="Edit Track: " + track.artist + " - " + track.title %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('admin.library_index') }}">Library</a></li>
    <li><a href="{{ url_for('admin.library_artist', artist=track.artist) }}">Artist: {{ track.artist }}</a></li>
    <li><a href="{{ url_for('admin.library_artist', artist=track.artist) }}">Album: {{ track.album }}</a></li>
    <li class="active">{{ track.title }}</li>
</ol>

<h1>Edit Track: {{ track.artist }} - {{ track.title }}</h1>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="{{ url_for('admin.library_track', id=track.id) }}">Track Info</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_track_musicbrainz', id=track.id) }}">MusicBrainz Search</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_track_similar', id=track.id) }}">Similar Tracks</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_track_spins', id=track.id) }}">Spins</a></li>
</ul>

<div class="panel-body">
    <form action="{{ url_for('admin.library_track', id=track.id) }}"
            method="post" class="form-horizontal" role="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

        <div class="form-group{% if 'artist' in error_fields %} has-error{% endif %}">
            <label for="id_artist" class="col-sm-3 control-label">Artist</label>
            <div class="col-sm-9">
                <input type="text" name="artist" id="id_artist"
                    value="{{ track.artist }}" required="required"
                    class="form-control"/>
            </div>
        </div>
        
        <div class="form-group{% if 'title' in error_fields %} has-error{% endif %}">
            <label for="id_name" class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
                <input type="text" name="title" id="id_title"
                    value="{{ track.title }}" required="required"
                    class="form-control"/>
            </div>
        </div>

        <div class="form-group{% if 'album' in error_fields %} has-error{% endif %}">
            <label for="id_artist" class="col-sm-3 control-label">Album</label>
            <div class="col-sm-9">
                <input type="text" name="album" id="id_album"
                    value="{{ track.album }}" required="required"
                    class="form-control"/>
            </div>
        </div>
        
        <div class="form-group{% if 'label' in error_fields %} has-error{% endif %}">
            <label for="id_name" class="col-sm-3 control-label">Label</label>
            <div class="col-sm-9">
                <input type="text" name="label" id="id_label"
                    value="{{ track.label }}" required="required"
                    class="form-control"/>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>
                Save Changes
            </button>

            <a href="{{ url_for('admin.library_artist', artist=track.artist) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </a>
        </div>
    </form>

    {% if track.artist_mbid or track.recording_mbid or track.release_mbid or track.releasegroup_mbid %}
    <section>
        <h2>MusicBrainz</h2>
        <dl>
            {% if track.artist_mbid %}
            <dt>Artist MBID:</dt>
            <dd><a href="https://musicbrainz.org/artist/{{ track.artist_mbid }}" rel="external">{{ track.artist_mbid }}</a></dd>
            {% endif %}

            {% if track.recording_mbid %}
            <dt>Recording MBID:</dt>
            <dd><a href="https://musicbrainz.org/recording/{{ track.recording_mbid }}" rel="external">{{ track.recording_mbid }}</a></dd>
            {% endif %}

            {% if track.release_mbid %}
            <dt>Release MBID:</dt>
            <dd><a href="https://musicbrainz.org/release/{{ track.release_mbid }}" rel="external">{{ track.release_mbid }}</a></dd>
            {% endif %}

            {% if track.releasegroup_mbid %}
            <dt>Release Group MBID:</dt>
            <dd><a href="https://musicbrainz.org/release-group/{{ track.releasegroup_mbid }}" rel="external">{{ track.releasegroup_mbid }}</a></dd>
            {% endif %}
        </dl>
    </section>
    {% endif %}
</div>

{% endblock %}
