{% import "admin/macros.html" as macros %}
{% extends "admin/base.html" %}
{% set page_title="Label: " + label %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('admin.library_labels') }}">Library</a></li>
    <li class="active">Label: {{ label }}</li>
</ol>

<h1>Label: {{ label }}</h1>

{{ macros.render_pagination(tracks, 'admin.library_label', label=label) }}
{{ macros.library_tracklist(tracks.items, track_from='label') }}
{{ macros.render_pagination(tracks, 'admin.library_label', label=label) }}
{% endblock %}
