{% import "admin/macros.html" as macros %}
{% extends "admin/base.html" %}
{% set page_title="Library" %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li class="active">Library</li>
</ol>

<h1>Library</h1>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="{{ url_for('admin.library_index') }}">By Artist</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_labels') }}">By Label</a></li>
    <li role="presentation" class="active"><a href="{{ url_for('admin.library_djs') }}">By DJ</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_fixup') }}">Fixup</a></li>
</ul>

<div class="panel-body">
    {{ macros.render_pagination(djs, 'admin.library_djs') }}

    <div class="list-group">
        {% for dj in djs.items -%}
        <a href="{{ url_for('admin.library_dj', id=dj.id) }}" class="list-group-item">
            <span class="badge">
                {%- if dj.visible -%}
                Active
                {%- else -%}
                Inactive
                {%- endif -%}
            </span>

            <h4 class="list-group-item-heading">{{ dj.airname|wordwrap }}</h4>
            <p>Created <time datetime="{{ dj.time_added|isodatetime }}" data-format="YYYY-MM-DD HH:mm">{{ dj.time_added|datetime("%Y-%m-%d %H:%M") }}</time></p>
        </a>
        {% endfor -%}
    </div>

    {{ macros.render_pagination(djs, 'admin.library_djs') }}
</div>
{% endblock %}
