{% import "admin/macros.html" as macros %}
{% extends "admin/base.html" %}
{% set page_title="Library" %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li class="active">Library</li>
</ol>

<h1>Library</h1>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="{{ url_for('admin.library_index') }}">By Artist</a></li>
    <li role="presentation" class="active"><a href="{{ url_for('admin.library_djs') }}">By DJ</a></li>
</ul>

<div class="panel-body">
    {{ macros.render_pagination(djs, 'admin.library_djs') }}

    <ul>
        {% for dj in djs.items -%}
        <li><a href="{{ url_for('admin.library_dj', id=dj.id) }}">{{ dj.airname }}</a></li>
        {% endfor -%}
    </ul>

    {{ macros.render_pagination(djs, 'admin.library_djs') }}
</div>
{% endblock %}
