{% import "admin/macros.html" as macros %}
{% extends "admin/base.html" %}
{% set page_title="Library" %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li class="active">Library</li>
</ol>

<h1>Library</h1>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="{{ url_for('admin.library_index') }}">By Artist</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_labels') }}">By Label</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_djs') }}">By DJ</a></li>
    <li role="presentation" class="active"><a href="{{ url_for('admin.library_fixup') }}">Fixup</a></li>
</ul>

<div class="panel-body">
    <div class="list-group">
        <a href="{{ url_for('admin.library_fixup_tracks', key='bad_album') }}" class="list-group-item">Invalid Album</a>
        <a href="{{ url_for('admin.library_fixup_tracks', key='bad_label') }}" class="list-group-item">Invalid Label</a>
        <a href="{{ url_for('admin.library_fixup_tracks', key='one_play') }}" class="list-group-item">Only One Play</a>
    </div>
</div>
{% endblock %}
