{% extends "admin/base.html" %}
{% set page_title="MusicBrainz for Track: " + track.artist + " - " + track.title %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('admin.library_index') }}">Library</a></li>
    <li><a href="{{ url_for('admin.library_artist', artist=track.artist) }}">Artist: {{ track.artist }}</a></li>
    <li><a href="{{ url_for('admin.library_artist', artist=track.artist) }}">Album: {{ track.album }}</a></li>
    <li class="active">{{ track.title }}</li>
</ol>

<h1>MusicBrainz for Track: {{ track.artist }} - {{ track.title }}</h1>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="{{ url_for('admin.library_track', id=track.id) }}">Track Info</a></li>
    <li role="presentation" class="active"><a href="{{ url_for('admin.library_track_musicbrainz', id=track.id) }}">MusicBrainz Search</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_track_similar', id=track.id) }}">Similar Tracks</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_track_spins', id=track.id) }}">Spins</a></li>
</ul>

<div class="panel-body">
    <dl>
        <dt>Artist:</dt>
        <dd>{{ track.artist }}</dd>

        <dt>Title:</dt>
        <dd>{{ track.title }}</dd>

        <dt>Album:</dt>
        <dd>{{ track.album }}</dd>
    </dl>

    <form action="{{ url_for('.library_track_musicbrainz', id=track.id) }}"
        method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <table class="table table-striped table-hover">
        <tr>
            <th>Score</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Releases</th>
            <th></th>
        </tr>

        {% for result in results -%}
        <tr>
            <td>{{ result['ext:score'] }}</td>
            <td>{{ result['artist-credit-phrase'] }}</td>
            <td><a href="https://musicbrainz.org/recording/{{ result['id'] }}" rel="external">{{ result['title'] }}</a></td>
            <td>
                {% for release in result['release-list'] %}
                <div class="radio">
                    <label>
                        <input type="radio"
                            name="recording_{{ result['id'] }}_release"
                            value="{{ release['id'] }}"
                            {% if loop.first %}checked="checked" {% endif %}/>
                        <a href="https://musicbrainz.org/release/{{ release['id'] }}" rel="external"><strong>{{ release['title'] }}</strong></a>&mdash;{{ release['date'] }}, {{ release['country'] }}
                    </label>
                </div>
                {% endfor %}
            </td>
            <td class="row-options">
                <button type="submit" name="recording_mbid"
                        value="{{ result['id'] }}" class="btn btn-primary">
                    Select
                </button>
            </td>
        </tr>
        {% endfor -%}

        <tr>
            <td colspan="5">
                <button type="submit" name="clear_mbids" value="true"
                        class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                    Clear Existing
                </button>
            </td>
        </tr>
    </table>
    </form>
</div>

{% endblock %}
