{% extends "admin/base.html" %}
{% set page_title="Edit Track: " + track.artist + " - " + track.title %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('admin.library_index') }}">Library</a></li>
    {% if edit_from == 'label' %}
    <li><a href="{{ url_for('admin.library_label', label=track.label) }}">Label: {{ track.label }}</a></li>
    {% else %}
    <li><a href="{{ url_for('admin.library_artist', artist=track.artist) }}">Artist: {{ track.artist }}</a></li>
    <li><a href="{{ url_for('admin.library_artist', artist=track.artist) }}">Album: {{ track.album }}</a></li>
    {% endif %}
    <li class="active">{{ track.title }}</li>
</ol>

<h1>Edit Track: {{ track.artist }} - {{ track.title }}</h1>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="{{ url_for('admin.library_track', id=track.id, from=edit_from) }}">Track Info</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_track_musicbrainz', id=track.id, from=edit_from) }}">MusicBrainz Search</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_track_similar', id=track.id, from=edit_from) }}">Similar Tracks</a></li>
    <li role="presentation"><a href="{{ url_for('admin.library_track_spins', id=track.id, from=edit_from) }}">Spins</a></li>
</ul>

<div class="panel-body">
    <form method="post" class="form-horizontal" role="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

        <div class="form-group{% if 'artist' in error_fields %} has-error{% endif %}">
            <label for="id_artist" class="col-sm-3 control-label">Artist</label>
            <div class="col-sm-9">
                <input type="text" name="artist" id="id_artist"
                    value="{{ data.artist }}" required="required"
                    class="form-control"/>
            </div>
        </div>
        
        <div class="form-group{% if 'title' in error_fields %} has-error{% endif %}">
            <label for="id_title" class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
                <input type="text" name="title" id="id_title"
                    value="{{ data.title }}" required="required"
                    class="form-control"/>
            </div>
        </div>

        <div class="form-group{% if 'album' in error_fields %} has-error{% endif %}">
            <label for="id_album" class="col-sm-3 control-label">Album</label>
            <div class="col-sm-9">
                <input type="text" name="album" id="id_album"
                    value="{{ data.album }}" required="required"
                    class="form-control"/>
            </div>
        </div>
        
        <div class="form-group{% if 'label' in error_fields %} has-error{% endif %}">
            <label for="id_label" class="col-sm-3 control-label">Label</label>
            <div class="col-sm-9">
                <input type="text" name="label" id="id_label"
                    value="{{ data.label }}" required="required"
                    class="form-control"/>
            </div>
        </div>

        <div class="form-group{% if 'artist_mbid' in error_fields %} has-error{% endif %}">
            <label for="id_artist_mbid" class="col-sm-3 control-label">Artist MBID</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" name="artist_mbid" id="id_artist_mbid"
                        value="{{ data.artist_mbid or "" }}"
                        class="form-control"/>
                    <span class="input-group-btn">
                        {% if track.artist_mbid %}
                        <a href="https://musicbrainz.org/artist/{{ track.artist_mbid }}"
                                rel="external noreferrer"
                                class="btn btn-default">
                        {% else %}
                        <a href="#" class="btn btn-default disabled">
                        {% endif %}
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </span>
                </div>

            </div>
        </div>

        <div class="form-group{% if 'recording_mbid' in error_fields %} has-error{% endif %}">
            <label for="id_recording_mbid" class="col-sm-3 control-label">Recording MBID</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" name="recording_mbid"
                        id="id_recording_mbid"
                        value="{{ data.recording_mbid or "" }}"
                        class="form-control"/>
                    <span class="input-group-btn">
                        {% if track.recording_mbid %}
                        <a href="https://musicbrainz.org/recording/{{ track.recording_mbid }}"
                                rel="external noreferrer"
                                class="btn btn-default">
                        {% else %}
                        <a href="#" class="btn btn-default disabled">
                        {% endif %}
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group{% if 'release_mbid' in error_fields %} has-error{% endif %}">
            <label for="id_release_mbid" class="col-sm-3 control-label">Release MBID</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" name="release_mbid" id="id_release_mbid"
                        value="{{ data.release_mbid or "" }}"
                        class="form-control"/>
                    <span class="input-group-btn">
                        {% if track.release_mbid %}
                        <a href="https://musicbrainz.org/release/{{ track.release_mbid }}"
                                rel="external noreferrer"
                                class="btn btn-default">
                        {% else %}
                        <a href="#" class="btn btn-default disabled">
                        {% endif %}
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group{% if 'releasegroup_mbid' in error_fields %} has-error{% endif %}">
            <label for="id_releasegroup_mbid" class="col-sm-3 control-label">Release Group MBID</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" name="releasegroup_mbid"
                        id="id_releasegroup_mbid"
                        value="{{ data.releasegroup_mbid or "" }}"
                        class="form-control"/>
                    <span class="input-group-btn">
                        {% if track.releasegroup_mbid %}
                        <a href="https://musicbrainz.org/release-group/{{ track.releasegroup_mbid }}"
                                rel="external noreferrer"
                                class="btn btn-default">
                        {% else %}
                        <a href="#" class="btn btn-default disabled">
                        {% endif %}
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>
                Save Changes
            </button>
        </div>
    </form>
</div>

{% endblock %}
