{% import "admin/macros.html" as macros %}
{% extends "admin/base.html" %}
{% set page_title="Library" %}
{% block nav_admin_library %}<li class="active"><a href="{{ url_for('admin.library_index') }}">Library</a></li>{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('admin.library_djs') }}">Library</a></li>
    <li class="active">DJ: {{ dj.airname }}</li>
</ol>

<h1>DJ: {{ dj.airname }}</h1>

<dl>
    <dt>Name:</dt>
    <dd>{{ dj.name }}</dd>

    {% if dj.phone is not none %}
    <dt>Phone Number:</dt>
    <dd>{{ dj.phone }}</dd>
    {% endif %}

    {% if dj.email is not none %}
    <dt>Email Address:</dt>
    <dd><a href="mailto:{{ dj.email }}">{{ dj.email }}</a></dd>
    {% endif %}
</dl>

{{ macros.render_pagination(tracks, 'admin.library_dj', id=dj.id) }}

<table class="table table-striped table-hover">
    <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Album</th>
        <th>Label</th>
    </tr>

    {% for track in tracks.items -%}
    <tr>
        <td><a href="{{ url_for('admin.library_artist', artist=track.artist) }}">{{ track.artist }}</a></td>
        <td><a href="{{ url_for('admin.library_track', id=track.id) }}">{{ track.title }}</a></td>
        <td>{{ track.album }}</td>
        <td>{{ track.label }}</td>
    </tr>
    {% endfor -%}
</table>

{{ macros.render_pagination(tracks, 'admin.library_dj', id=dj.id) }}
{% endblock %}
