{% extends "admin/base.html" %}
{% block bodyattrib %} class="page-signin"{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% for msg in errors %}
<div class="alert alert-danger">{{ msg }}</div>
{% endfor %}

<form action="{{ url_for('admin.login') }}" method="post" class="form-signin">
    <h2 class="form-signin-heading">WUVT Login</h2>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group">
        <input type="hidden" name="next" value="{{ next }}" />

        <input type="text" name="username" id="id_username" value=""
            placeholder="Username" class="form-control" />

        <input type="password" name="password" id="id_password" value=""
            placeholder="Password" class="form-control" />
    </div>

    <button class="btn btn-primary btn-block btn-lg" type="submit">Login</button>
</form>
{% endblock %}
