{% extends "admin/base.html" %}
{% set page_title="Edit Page" %}
{% block nav_admin_pages %}<li class="active"><a href="{{ url_for('admin.pages') }}">Pages</a></li>{% endblock %}

{% block content %}
<h1>Edit Page</h1>

<form action="{{ url_for('admin.page_edit', page_id=page.id) }}" method="post"
    class="form-horizontal" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span>
            Save Page
        </button>

        <a href="{{ url_for('admin.pages') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
        </a>
    </div>

    <div class="form-group{% if form.title.errors|length > 0 %} has-error{% endif %}">
        <label for="id_title" class="col-sm-3 control-label">Title</label>
        <div class="col-sm-9">
            <input type="text" name="title" id="id_title"
                   value="{{ page.name }}" required="required" class="form-control" />
{% for error in form.title.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.slug.errors|length > 0 %} has-error{% endif %}">
        <label for="id_slug" class="col-sm-3 control-label">Slug</label>
        <div class="col-sm-9">
            <input type="text" name="slug" id="id_slug" name="title"
                   value="{{ page.slug }}" class="form-control" />
{% for error in form.slug.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.section.errors|length > 0 %} has-error{% endif %}">
        <label for="id_section" class="col-sm-3 control-label">Section</label>
        <div class="col-sm-9">
            <select name="section" class="form-control">
                {% for section in sections %}
                <option{% if section.menu == page.menu %} selected="selected"{% endif %} value="{{ section.menu }}">{{ section.name }}</option>
                {% endfor %}
            </select>
{% for error in form.section.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.published.errors|length > 0 %} has-error{% endif %}">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9 checkbox">
            <label>
                <input type="checkbox" name="published" id="id_published" value="{{ page.published }}" {% if page.published %}checked{% endif %} />
                <strong>Publish page</strong>
            </label>
{% for error in form.published.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.content.errors|length > 0 %} has-error{% endif %}">
        <label for="id_content" class="col-sm-3 control-label">Content</label>
        <div class="col-sm-9">
            <textarea type="text" name="content" id="id_content"
                  required="required" rows="25"
                  class="form-control">{{ page.content }}</textarea>
{% for error in form.content.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span>
            Save Page
        </button>

        <a href="{{ url_for('admin.pages') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
        </a>
    </div>
</form>
{% endblock %}
