{% extends "admin/base.html" %}
{% block title %}Trackman - {{ super() }}{% endblock %}
{% block bodyattrib %} class="page-signin"{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<form action="{{ url_for('trackman_login') }}" method="post" class="form-signin">
    <h2 class="form-signin-heading">Trackman</h2>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <select name="dj" class="input-block-level">
        {% for dj in djs %}
        <option value="{{ dj.id }}">{{ dj.airname }}
        {% endfor %}
    </select>

    <button type="submit" class="btn">
        <i class="icon-headphones"></i>
        Login
    </button>

    {% if automation %}
    <!--button class="btn">
        <i class="icon-stop"></i>
        Stop Automation
    </button-->
    {% else %}
    <button type="button" class="btn" id="automation_btn">
        <i class="icon-play"></i>
        Start Automation
    </button>
    {% endif %}
</form>
<form action="{{ url_for('trackman_start_automation') }}" method="post" id="automation_start_form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
</form>
{% endblock %}
{% block js %}
{{ super() }}
<script>
$('#automation_btn').click(function() {
    $('#automation_start_form').submit();
});
</script>
{% endblock %}
