{% extends "admin/base.html" %}
{% block title %}Edit Track - {{ trackman_name }} - {{ super() }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<h1>{{ trackman_name }}: {{ djset.dj.airname }}</h1>

<form action="{{ url_for('trackman_edit', setid=djset.id, trackid=track.id)
    }}" method="post" class="form-horizontal">
    <h2>Edit Track</h2>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="trackman-entry">
        <div class="trackman-controls">
            <div class="control-group">
                <label for="id_artist" class="control-label">Artist</label>
                <div class="controls">
                    <input type="text" name="artist" id="id_artist"
                        value="{{ track.artist }}" required="required" />
                </div>
            </div>

            <div class="control-group">
                <label for="id_title" class="control-label">Title</label>
                <div class="controls">
                    <input type="text" name="title" id="id_title"
                        value="{{ track.title }}" required="required" />
                </div>
            </div>

            <div class="control-group">
                <label for="id_album" class="control-label">Album</label>
                <div class="controls">
                    <input type="text" name="album" id="id_album"
                        value="{{ track.album }}" required="required" />
                </div>
            </div>

            <div class="control-group">
                <label for="id_label" class="control-label">Label</label>
                <div class="controls">
                    <input type="text" name="label" id="id_label"
                        value="{{ track.label }}" required="required" />
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" name="request"
                            {% if track.request %}checked="checked"{% endif %} />
                        Request
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" name="vinyl"
                            {% if track.vinyl %}checked="checked"{% endif %} />
                        Vinyl
                    </label>
                </div>
            </div>
        </div>

        <div class="trackman-help">
            <i class="icon-flag"></i>
            <h4>If you can't fill in the blanks, you can't play it.</h4>

            You may find these sites helpful to find missing information:
            <ul>
                <li><a href="http://www.allmusic.com/"
                    rel="external">AllMusic</a></li>
                <li><a href="http://www.amazon.com/music/"
                    rel="external">Amazon.com Music</a></li>
                <li><a href="http://www.discogs.com/"
                    rel="external">Discogs</a></li>
                <li><a href="http://musicbrainz.org/search.html"
                    rel="external">MusicBrainz</a></li>
            </ul>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <i class="icon-edit icon-white"></i>
            Edit Track
        </button>

        <a href="{{ url_for('trackman_log', setid=djset.id) }}" class="btn">
            <i class="icon-remove"></i>
            Cancel
        </a>
    </div>
</form>
<form action="{{ url_for('trackman_logout', setid=djset.id) }}" method="post"
    id="trackman_logout_form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
</form>
{% endblock %}
{% block js %}
{{ super() }}
<script>
var csrf_token = "{{ csrf_token() }}";

$(function() {
    $('#trackman_logout_btn').click(function() {
        $('#trackman_logout_form').submit();
    });

    $('button.delete-track').bind('click', function(ev) {
        $.ajax({
            'type': "DELETE",
            'url': "/trackman/log/{{ djset.id }}/" + $(this).closest('tr').attr('id').replace("track-", "") + "?_csrf_token=" + csrf_token,
        }).done(function(msg) {
            csrf_token = msg['_csrf_token'];
            $(ev.currentTarget).closest('tr').
                fadeTo('fast', 0, function() {
                    $(this).remove();
                });
        });
    });
});
</script>
{% endblock %}
