{% extends "admin/base.html" %}
{% block title %}Trackman - {{ super() }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<form action="{{ url_for('trackman_log', setid=djset.id) }}" method="post" class="form-horizontal">
    <h2 class="form-signin-heading">Trackman: {{ djset.dj.airname }}</h2>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="control-group">
        <label for="id_artist" class="control-label">Artist</label>
        <div class="controls">
            <input type="text" name="artist" id="id_artist" value=""
                required="required" />
        </div>
    </div>

    <div class="control-group">
        <label for="id_title" class="control-label">Title</label>
        <div class="controls">
            <input type="text" name="title" id="id_title" value=""
                required="required" />
        </div>
    </div>

    <div class="control-group">
        <label for="id_album" class="control-label">Album</label>
        <div class="controls">
            <input type="text" name="album" id="id_album" value=""
                required="required" />
        </div>
    </div>

    <div class="control-group">
        <label for="id_label" class="control-label">Label</label>
        <div class="controls">
            <input type="text" name="label" id="id_label" value=""
                required="required" />
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" name="request" />
                Request
            </label>

            <label class="checkbox">
                <input type="checkbox" name="vinyl" />
                Vinyl
            </label>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <i class="icon-list icon-white"></i>
            Add to Playlist
        </button>

        <button type="button" class="btn" id="trackman_logout_btn">
            <i class="icon-eject"></i>
            Logout
        </button>
    </div>
</form>
<form action="{{ url_for('trackman_logout', setid=djset.id) }}" method="post"
    id="trackman_logout_form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
</form>
{% endblock %}
{% block js %}
{{ super() }}
<script>
$('#trackman_logout_btn').click(function() {
    $('#trackman_logout_form').submit();
});
</script>
{% endblock %}
