{% extends "admin/base.html" %}
{% set page_title="Users" %}
{% block nav_admin_users %}<li class="active"><a href="{{ url_for('admin.users') }}">Users</a></li>{% endblock %}

{% block content %}
<h1>Users</h1>

<table class="table table-striped table-hover">
{% if is_admin and config.AUTH_METHOD == "local" %}
    <tr>
        <td colspan="5">
            <a href="{{ url_for('admin.user_add') }}" class="btn btn-primary">Add New User</a>
        </td>
    </tr>
{% endif %}
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Enabled</th>
        <th>Actions</th>
    </tr>
{% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.enabled }}</td>
        <td class="row-options">
{% if config.AUTH_METHOD == "local" %}
            <a href="{{ url_for('admin.user_edit', id=user.id) }}" class="btn btn-default btn-sm">Edit</a>
{% endif %}
        </td>
    </tr>
{% endfor %}
{% if is_admin and config.AUTH_METHOD == "local" %}
    <tr>
        <td colspan="5">
            <a href="{{ url_for('admin.user_add') }}" class="btn btn-primary">Add New User</a>
        </td>
    </tr>
{% endif %}
</table>
{% endblock %}
