{% extends "admin/base.html" %}
{% set page_title="Create User " %}
{% block nav_admin_users %}<li class="active"><a href="{{ url_for('admin.users') }}">Users</a></li>{% endblock %}

{% block content %}
<h1>Create User</h1>

<form method="post" class="form-horizontal" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group{% if form.username.errors|length > 0 %} has-error{% endif %}">
        <label for="id_username" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-9">
            <input type="text" name="username" id="id_username"
                value="{{ form.username.data or "" }}" required="required"
                class="form-control" />
            <div class="help-block">Username must be alphanumeric and be between 3-8 characters.</div>
{% for error in form.username.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.name.errors|length > 0 %} has-error{% endif %}">
        <label for="id_name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" name="name" id="id_name"
                value="{{ form.name.data or "" }}" required="required"
                class="form-control" />
{% for error in form.name.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.email.errors|length > 0 %} has-error{% endif %}">
        <label for="id_email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
            <input type="text" name="email" id="id_email"
                value="{{ form.email.data or "" }}" class="form-control"
                required="required"/>
{% for error in form.email.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>
    
    <div class="form-group{% if form.password.errors|length > 0 %} has-error{% endif %}">
        <label for="id_newpass" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
            <input type="password" name="password" id="id_newpass"
                value="" class="form-control" required="required"/>
{% for error in form.password.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span>
            Create User
        </button>

        <a href="{{ url_for('admin.users') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
        </a>
    </div>
</form>
{% endblock %}
